<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <!--header-->
    <div class="display-1 mb-8">
      รายงานยกยอดวัตถุดิบ
    </div>
    <!--SearchDate-->
    <v-row align="center" justify="center">
      <v-col sm="12" md="8" lg="8">
        <v-card>
          <v-card-text>
            <v-autocomplete
              class="mx-8"
              v-model="searchIdcarry.carId"
              :items="carryId"
              outlined
              dense
              :rules="rules"
              color="blue-grey lighten-2"
              label="ค้นหาเลขเอกสารยกยอดวัตถุดิบ"
              item-text="Carry_Id"
              item-value="Carry_Id"
            >
              <template v-slot:item="data">
                <template v-if="typeof data.item !== 'object'">
                  <v-list-item-content v-text="data.item"></v-list-item-content>
                </template>
                <template v-else>
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="data.item.Carry_Id"
                    ></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="data.item.Carry_Date"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </template>
            </v-autocomplete>
          </v-card-text>
          <div class="d-flex justify-center">
            <v-btn
              class="mb-5"
              color="amber darken-1"
              @click="searchcarry"
              :disabled="!searchIdcarry.carId || show == true "
            >
              ค้นหา
            </v-btn>
            <v-btn color="amber darken-1" text @click="refreshSE">
              <v-icon>mdi-refresh</v-icon>
            </v-btn>
          </div>
        </v-card>
      </v-col>
    </v-row>
    <div v-if="show === true" class="mt-10">
      <v-btn @click="linktoPDF" color="green darken-1" text>รายงาน</v-btn>
    </div>
    <!--DataTables-->
    <div v-if="show === true">
      <v-card>
        <v-card-title>
          รายงานยกยอดวัตถุดิบ เลขที่เอกสาร {{ add.carryindate[0].Carry_Id }}
          <v-spacer></v-spacer>
          <v-text-field
            v-model="searchinrow"
            append-icon="mdi-magnify"
            label="Search"
            outlined
            dense
            hide-details
          ></v-text-field>
        </v-card-title>

        <v-data-table
          :headers="headers"
          :items="add.carryindate"
          :items-per-page="5"
          class="elevation-1"
          :search="searchinrow"
        >
        </v-data-table>
      </v-card>
    </div>
  </v-container>
</template>

<script>
import axios from 'axios';
import { CONFIG } from '../../configs';
import moment from 'moment';
export default {
  name: 'Carry',
  created() {
    this.$store.getters.currentCompa;
    console.log('compid', this.$store.getters.currentCompa);
    this.searchidcarry();
  },
  computed: {},
  methods: {
    refreshSE() {
      this.timeout = setInterval(() => {
        window.location.reload();
      }, 1000);
    },
    linktoPDF() {
      this.$store.commit('isGetreport', this.add);
      console.log('currentreport', this.$store.getters.currentReport);
      this.$router.push({ name: 'ReportCarryPdf' });
    },

    async searchidcarry() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/searchidcarry`,
          this.search
        );
        if (!res.data.statusCode) {
          this.carryId = res.data;
          console.log('carryData', res.data);
          this.carryId.forEach((i) => {
            i.Carry_Date = moment(i.Carry_Date)
              .locale('th')
              .add(543, 'year')
              .format('DD/MM/YYYY');
          });
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },

    async searchcarry() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/searchcarry`,
          this.searchIdcarry
        );
        if (!res.data.statusCode) {
          this.add.carryindate = res.data;
          console.log('carry', this.add.carryindate);
          this.add.carryindate.forEach((i) => {
            i.Carry_Date = moment(i.Carry_Date)
              .locale('th')
              .add(543, 'year')
              .format('DD/MM/YYYY');
            this.add.totalmat += i.Carry_Num;
          });
          this.show = true;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
  },
  data() {
    return {
      snackbar: {
        visible: false,
        color: '',
        text: '',
      },
      searchinrow: '',
      searchIdcarry: {
        carId: '',
        comp: this.$store.getters.currentCompa,
      },
      carryId: [],
      search: {
        comp: this.$store.getters.currentCompa,
      },
      add: {
        carryindate: [],
        totalmat: 0,
      },
      show: false,
      rules: [(v) => !!v || 'กรุณากรอกข้อมูล'],
      headers: [
        {
          text: 'เลขที่เอกสาร',
          align: 'center',
          sortable: false,
          value: 'Carry_Id',
        },
        { text: 'วันที่', value: 'Carry_Date' },
        { text: 'รหัสวัตถุดิบ', value: 'Mat_Id' },
        { text: 'ชื่อวัตถุดิบ', value: 'Mat_Name' },
        { text: 'จำนวนยกยอด', value: 'Carry_Num' },
        { text: 'ชื่อผู้ยกยอด', value: 'Admin_Name' },
      ],
    };
  },
};
</script>

<style></style>
