<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <!--header-->
    <div class="display-1 mb-8">
      รายงานรับคืนวัตถุดิบ
    </div>
    <!--SearchID-->
    <v-row align="center" justify="center">
      <v-col sm="12" md="8" lg="8">
        <v-card>
          <v-card-text>
            <v-autocomplete
              class="mx-8"
              v-model="searchId.retId"
              :items="returnId"
              outlined
              dense
              :rules="rules"
              color="blue-grey lighten-2"
              label="ค้นหาเลขเอกสารรับคืนวัตถุดิบ"
              item-text="Return_Id"
              item-value="Return_Id"
            >
              <template v-slot:item="data">
                <template v-if="typeof data.item !== 'object'">
                  <v-list-item-content v-text="data.item"></v-list-item-content>
                </template>
                <template v-else>
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="data.item.Return_Id"
                    ></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="data.item.Return_Date"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </template>
            </v-autocomplete>
          </v-card-text>
          <div class="d-flex justify-center">
            <v-btn
              class="mb-5"
              color="amber darken-1"
              @click="showidreturn"
              :disabled="!searchId.retId || show == true "
            >
              ค้นหา
            </v-btn>
            <v-btn color="amber darken-1" text @click="refreshSE">
              <v-icon>mdi-refresh</v-icon>
            </v-btn>
          </div>
        </v-card>
      </v-col>
    </v-row>
    <!--ButtonPrintPDF-->
    <div v-if="show === true" class="mt-10">
      <v-btn color="green darken-1" text @click="linktopaper">
        รายงาน
      </v-btn>
    </div>
    <!--DataTables-->
    <div v-if="show === true">
      <v-card>
        <v-card-title>
          รายงานรับคืนวัตถุดิบ เลขที่เอกสาร {{ add.returnData[0].Return_Id }}

          <v-spacer></v-spacer>
          <v-text-field
            v-model="searchinrow"
            append-icon="mdi-magnify"
            label="Search"
            outlined
            dense
            hide-details
          ></v-text-field>
        </v-card-title>

        <v-data-table
          :headers="headers"
          :items="add.returnData"
          :items-per-page="5"
          class="elevation-1"
          :search="searchinrow"
        >
        </v-data-table>
      </v-card>
    </div>
  </v-container>
</template>

<script>
import moment from 'moment';
import axios from 'axios';
import { CONFIG } from '../../configs';
export default {
  name: 'GetBack',
  created() {
    this.$store.getters.currentCompa;
    console.log('compid', this.$store.getters.currentCompa);
    this.searchidreturn();
  },
  methods: {
    refreshSE() {
      this.timeout = setInterval(() => {
        window.location.reload();
      }, 1000);
    },
    linktopaper() {
      this.$store.commit('isGetreport', this.add);
      console.log('currentreport', this.$store.getters.currentReport);
      this.$router.push({ name: 'ReturnReport' });
    },
    async searchidreturn() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/searchidreturn`,
          this.search
        );
        if (!res.data.statusCode) {
          this.returnId = res.data;
          console.log('returnData', res.data);
          this.returnId.forEach((i) => {
            i.Return_Date = moment(i.Return_Date)
              .locale('th')
              .add(543, 'year')
              .format('DD/MM/YYYY');
          });
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },

    async showidreturn() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/showidreturn`,
          this.searchId
        );
        if (!res.data.statusCode) {
          this.add.returnData = res.data;
          console.log('return Data', this.add.returnData);
          this.add.returnData.forEach((i) => {
            i.Return_Date = moment(i.Return_Date)
              .locale('th')
              .add(543, 'year')
              .format('DD/MM/YYYY');
            this.add.totalreturn += i.Return_Num;
            this.add.totalprice += i.Mat_Price;
            this.add.totalremain += i.remain;
          });
          this.show = true;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
  },
  data() {
    return {
      snackbar: {
        visible: false,
        color: '',
        text: '',
      },
      searchId: {
        retId: '',
        comp: this.$store.getters.currentCompa,
      },
      search: {
        comp: this.$store.getters.currentCompa,
      },
      returnId: [],
      add: {
        returnData: [],
        totalreturn: 0,
        totalprice: 0,
        totalremain: 0,
      },
      show:false,
      searchinrow:'',
      rules: [(v) => !!v || 'กรุณากรอกข้อมูล'],
      headers: [
        {
          text: 'เลขที่เอกสาร',
          align: 'center',
          sortable: false,
          value: 'Return_Id',
        },
        { text: 'วันที่', value: 'Return_Date' },
        { text: 'รหัสวัตถุดิบ', value: 'Mat_Id' },
        { text: 'ชื่อวัตถุดิบ', value: 'Mat_Name' },
        { text: 'จำนวนรับคืน', value: 'Return_Num' },
        { text: 'ชื่อผู้รับ', value: 'User_Name' },
      ],
    };
  },
};
</script>

<style></style>
