<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <!--header-->
    <div class="display-1 mb-8">
      รายงานรายละเอียดวัตถุดิบ
    </div>
    <!--SearchProducts-->
    <v-row align="center" justify="center">
      <v-col sm="12" md="8" lg="8">
        <v-card>
          <v-card-text>
            <v-form v-model="disables">
              <v-autocomplete
                class="mx-8"
                v-model="searchMaterial.typeid"
                :items="materials"
                outlined
                dense
                :rules="rules"
                color="blue-grey lighten-2"
                label="รหัสวัตถุดิบแรก"
                item-text="Mat_Id"
                item-value="Mat_Id"
              >
                <template v-slot:item="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template v-else>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="data.item.Mat_Id"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-html="data.item.Mat_Name"
                      ></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
              <v-autocomplete
                class="mx-8"
                v-model="searchMaterial.typeidlast"
                :items="materialsLast"
                outlined
                dense
                :rules="rules"
                color="blue-grey lighten-2"
                label="รหัสวัตถุดิบสุดท้าย"
                item-text="Mat_Id"
                item-value="Mat_Id"
              >
                <template v-slot:item="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template v-else>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="data.item.Mat_Id"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-html="data.item.Mat_Name"
                      ></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
            </v-form>
          </v-card-text>

          <div class="d-flex justify-center">
            <v-btn
              class="mb-5"
              color="amber darken-1"
              @click="searchMR"
              :disabled="
                !disables ||
                  !searchMaterial.typeid ||
                  !searchMaterial.typeidlast || show == true
              "
            >
              ค้นหา
            </v-btn>
            <v-btn color="amber darken-1" text @click="refreshSE">
              <v-icon>mdi-refresh</v-icon>
            </v-btn>
          </div>
        </v-card>
      </v-col>
    </v-row>

    <!--ButtonPrintPDF-->
    <div v-if="show === true" class="mt-10">
      <v-btn color="green darken-1" text @click="linktopaper">
        รายงาน
      </v-btn>
    </div>
    <!--DataTables-->
    <div v-if="show === true">
      <v-card>
        <v-card-title>
          รายการวัตถุดิบ
                    {{ add.materialList[0].Mat_Id }}
          {{ add.materialList[1] ? `ถึง ${ add.materialList[1].Mat_Id }` : `ถึง ${ add.materialList[0].Mat_Id }` }}
          <v-spacer></v-spacer>
          <v-text-field
            append-icon="mdi-magnify"
            outlined
            dense
            v-model="searchinrow"
            hide-details
          ></v-text-field>
        </v-card-title>

        <v-data-table
          :headers="headers"
          :items="add.materialList"
          :items-per-page="5"
          class="elevation-1"
          :search="searchinrow"
        >
        </v-data-table>
      </v-card>
    </div>
  </v-container>
</template>

<script>
import axios from 'axios';
import { CONFIG } from '../../configs';

export default {
  name: 'Material',
  created() {
    this.$store.getters.currentCompa;
    console.log('compid', this.$store.getters.currentCompa);
    this.searchmaterials();
  },
  methods: {
    searchMR() {
      this.searchMaterial.typeid;
      this.searchMaterial.typeidlast;
      this.showmaterials();
    },
    refreshSE() {
      this.timeout = setInterval(() => {
        window.location.reload();
      }, 1000);
    },
    linktopaper() {
      this.$store.commit('isGetreport', this.add);
      console.log('currentreport', this.$store.getters.currentReport);
      this.$router.push({ name: 'MaterialReportPdf' });
    },
    async searchmaterials() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/searchmaterials`,
          this.company
        );
        if (!res.data.statusCode) {
          this.materials = res.data;
          this.materialsLast = res.data;
          console.log('namematerials', res.data);
        }
      } catch (err) {
          let { message } = err.response.data;
          this.snackbar.text = message;
          this.snackbar.color = 'error';
          this.snackbar.visible = true;
      }
    },
    async showmaterials() {
      try {
        this.add.matId = this.searchMaterial.typeid;
        this.add.matIdLast = this.searchMaterial.typeidlast;
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/showmaterials`,
          this.searchMaterial
        );
        if (!res.data.statusCode) {
          this.add.materialList = res.data;
          console.log('materialList', res.data);
          this.show = true;
        }
      } catch (err) {
        let { message } = err.response.data;
          this.snackbar.text = message;
          this.snackbar.color = 'error';
          this.snackbar.visible = true;
      }
    },
  },
  data() {
    return {
      snackbar: {
        visible: false,
        color: '',
        text: '',
      },
      searchMaterial: {
        typeid: '',
        typeidlast: '',
        comp: this.$store.getters.currentCompa,
      },
      show: false,
      materials: [],
      materialsLast: [],
      add: {
        matId: '',
        matIdLast: '',
        materialList: [],
      },

      disables: false,
      company: {
        compid: this.$store.getters.currentCompa,
      },
      searchinrow: '',
      headers: [
        {
          text: 'รายชื่อวัตถุดิบ',
          align: 'center',
          sortable: false,
          value: 'Mat_Id',
        },
        { text: 'ชื่อ', value: 'Mat_Name' },
        { text: 'หน่วยนับ', value: 'Unit_Name' },
        { text: 'จำนวน', value: 'Mat_Num' },
        { text: 'ราคา', value: 'Mat_Price' },
      ],
      rules: [(v) => !!v || 'กรุณากรอกข้อมูล'],
    };
  },
};
</script>

<style></style>
