<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <!--header-->
    <div class="display-1 mb-8">
      รายงานรับวัตถุดิบ
    </div>

    <!--SearchId-->
    <v-row align="center" justify="center">
      <v-col sm="12" md="8" lg="8">
        <v-card>
          <v-card-text>
            <v-autocomplete
              class="mx-8"
              v-model="searchIdrec.recId"
              :items="receiptId"
              outlined
              dense
              :rules="rules"
              color="blue-grey lighten-2"
              label="ค้นหาเลขเอกสารรับวัตถุดิบ"
              item-text="Receive_Id"
              item-value="Receive_Id"
            >
              <template v-slot:item="data">
                <template v-if="typeof data.item !== 'object'">
                  <v-list-item-content v-text="data.item"></v-list-item-content>
                </template>
                <template v-else>
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="data.item.Receive_Id"
                    ></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="data.item.Receive_Date"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </template>
            </v-autocomplete>
          </v-card-text>
          <div class="d-flex justify-center">
            <v-btn 
              class="mb-5"
              color="amber darken-1"
              @click="showreceiptindate"
              :disabled="!searchIdrec.recId || show == true "
            >
              ค้นหา
            </v-btn>
            <v-btn color="amber darken-1" text @click="refreshSE">
              <v-icon>mdi-refresh</v-icon>
            </v-btn>
          </div>
        </v-card>
      </v-col>
    </v-row>
    <!--ButtonPrintPDF-->
    <div v-if="show === true" class="mt-10">
      <v-btn color="green darken-1" text @click="linktopaper">
        รายงาน
      </v-btn>
    </div>
    <!--DataTables-->
    <div v-if="show === true">
      <v-card>
        <v-card-title>
          รายงานรับวัตถุดิบ เลขที่เอกสาร {{ add.receiptsindate[0].Receive_Id }}

          <v-spacer></v-spacer>
          <v-text-field
            v-model="searchinrow"
            append-icon="mdi-magnify"
            label="Search"
            outlined
            dense
            hide-details
          ></v-text-field>
        </v-card-title>

        <v-data-table
          :headers="headers"
          :items="add.receiptsindate"
          :items-per-page="5"
          class="elevation-1"
          :search="searchinrow"
        >
        </v-data-table>
      </v-card>
    </div>
  </v-container>
</template>

<script>
import moment from 'moment';
import axios from 'axios';
import { CONFIG } from '../../configs';

export default {
  name: 'Receipt',
  created() {
    this.$store.getters.currentCompa;
    console.log('compid', this.$store.getters.currentCompa);
    this.searchidrecipt();
  },

  methods: {
    refreshSE() {
      this.timeout = setInterval(() => {
        window.location.reload();
      }, 1000);
    },
    linktopaper() {
      this.$store.commit('isGetreport', this.add);
      console.log('currentreport', this.$store.getters.currentReport);
      this.$router.push({ name: 'ReportRecPdf' });
    },

    async searchidrecipt() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/searchidrecipt`,
          this.search
        );
        if (!res.data.statusCode) {
          this.receiptId = res.data;
          console.log('receiptData', res.data);
          this.receiptId.forEach((i) => {
            i.Receive_Date = moment(i.Receive_Date)
              .locale('th')
              .add(543, 'year')
              .format('DD/MM/YYYY');
          });
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },

    async showreceiptindate() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/showreceiptindate`,
          this.searchIdrec
        );
        if (!res.data.statusCode) {
          this.add.receiptsindate = res.data;
          console.log('rec in date', this.add.receiptsindate);
          this.add.receiptsindate.forEach((i) => {
            i.Receive_Date = moment(i.Receive_Date)
              .locale('th')
              .add(543, 'year')
              .format('DD/MM/YYYY');
            this.add.totalrecipt += i.Receive_Num;
            this.add.totalprice += i.Mat_Price;
            this.add.totalremain += i.remain;
          });
          console.log('add', this.add);
          this.show = true;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
  },
  data() {
    return {
      snackbar: {
        visible: false,
        color: '',
        text: '',
      },

      add: {
        receiptsindate: [],
        totalrecipt: 0,
        totalprice: 0,
        totalremain: 0,
      },
      firstdateText: '',
      lastdateText: '',
      show: false,
      searchinrow: '',
      receiptId: [],
      search: {
        comp: this.$store.getters.currentCompa,
      },
      searchIdrec: {
        recId: '',
        comp: this.$store.getters.currentCompa,
      },
      rules: [(v) => !!v || 'กรุณากรอกข้อมูล'],
      headers: [
        {
          text: 'เลขที่เอกสาร',
          align: 'center',
          sortable: false,
          value: 'Receive_Id',
        },
        { text: 'วันที่', value: 'Receive_Date' },
        { text: 'รหัสวัตถุดิบ', value: 'Mat_Id' },
        { text: 'ชื่อวัตถุดิบ', value: 'Mat_Name' },
        { text: 'จำนวนรับ', value: 'Receive_Num' },
        { text: 'ชื่อผู้รับ', value: 'User_Name' },
      ],
    };
  },
};
</script>

<style></style>
