<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <!--header-->
    <div class="display-1 mb-8">
      รายงานเบิกวัตถุดิบ
    </div>
    <!--SearchDate-->
    <v-row align="center" justify="center">
      <v-col sm="12" md="8" lg="8">
        <v-card>
          <v-card-text>
            <v-autocomplete
              class="mx-8"
              v-model="searchIdrev.revId"
              :items="revealId"
              outlined
              dense
              :rules="rules"
              color="blue-grey lighten-2"
              label="ค้นหาเลขเอกสารเบิกวัตถุดิบ"
              item-text="Order_Id"
              item-value="Order_Id"
            >
              <template v-slot:item="data">
                <template v-if="typeof data.item !== 'object'">
                  <v-list-item-content v-text="data.item"></v-list-item-content>
                </template>
                <template v-else>
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="data.item.Order_Id"
                    ></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="data.item.Order_Date"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </template>
            </v-autocomplete>
          </v-card-text>
          <div class="d-flex justify-center">
            <v-btn
              class="mb-5"
              color="amber darken-1"
              @click="searchReveal"
              :disabled="!searchIdrev.revId || show == true "
            >
              ค้นหา
            </v-btn>
            <v-btn color="amber darken-1" text @click="refreshSE">
              <v-icon>mdi-refresh</v-icon>
            </v-btn>
          </div>
        </v-card>
      </v-col>
    </v-row>

    <div v-if="show === true" class="mt-10">
      <v-btn @click="linktoPDF" color="green darken-1" text>รายงาน</v-btn>
    </div>
    <!--DataTables-->
    <div v-if="show === true">
      <v-card>
        <v-card-title>
          รายงานเบิกวัตถุดิบ เลขที่เอกสาร {{ add.revealindate[0].Order_Id }}
          <v-spacer></v-spacer>
          <v-text-field
            v-model="searchinrow"
            append-icon="mdi-magnify"
            label="Search"
            outlined
            dense
            hide-details
          ></v-text-field>
        </v-card-title>

        <v-data-table
          :headers="headers"
          :items="add.revealindate"
          :items-per-page="5"
          class="elevation-1"
          :search="searchinrow"
        >
        </v-data-table>
      </v-card>
    </div>
  </v-container>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import { CONFIG } from '../../configs';

export default {
  name: 'Reveal',
  created() {
    this.$store.getters.currentCompa;
    console.log('compid', this.$store.getters.currentCompa);
    this.searchidreveal();
  },
  computed: {},
  methods: {
    refreshSE() {
      this.timeout = setInterval(() => {
        window.location.reload();
      }, 1000);
    },
    linktoPDF() {
      this.$store.commit('isGetreport', this.add);
      console.log('currentreport', this.$store.getters.currentReport);
      this.$router.push({ name: 'ReportRevPdf' });
    },

    async searchidreveal() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/searchidreveal`,
          this.search
        );
        if (!res.data.statusCode) {
          this.revealId = res.data;
          console.log('receiptData', res.data);
          this.revealId.forEach((i) => {
            i.Order_Date = moment(i.Order_Date)
              .locale('th')
              .add(543, 'year')
              .format('DD/MM/YYYY');
          });
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },

    async searchReveal() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/searchreveal`,
          this.searchIdrev
        );
        if (!res.data.statusCode) {
          this.add.revealindate = res.data;
          console.log('rec in date', this.add.revealindate);
          this.add.revealindate.forEach((i) => {
            i.Order_Date = moment(i.Order_Date)
              .locale('th')
              .add(543, 'year')
              .format('DD/MM/YYYY');
            this.add.totalreveal += i.List_Num;
            this.add.totalprice += i.Mat_Price;
            this.add.totalremain += i.remain;
          });
          this.show = true;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
  },
  data() {
    return {
      snackbar: {
        visible: false,
        color: '',
        text: '',
      },
      searchIdrev: {
        revId: '',
        comp: this.$store.getters.currentCompa,
      },
      revealId: [],
      add: {
        revealindate: [],
        totalreveal: 0,
        totalprice: 0,
        totalremain: 0,
      },
      disable: {
        new: false,
      },
      search: {
        comp: this.$store.getters.currentCompa,
      },
      searchinrow: '',
      show: false,
      isValid: {
        select: false,
      },
      rules: [(v) => !!v || 'กรุณากรอกข้อมูล'],
      headers: [
        {
          text: 'รหัสการเบิกวัตถุดิบ',
          align: 'center',
          sortable: false,
          value: 'Order_Id',
        },
        { text: 'วันที่', value: 'Order_Date' },
        { text: 'รหัสวัตถุดิบ', value: 'Mat_Id' },
        { text: 'ชื่อวัตถุดิบ', value: 'Mat_Name' },
        { text: 'จำนวนเบิก', value: 'List_Num' },
        { text: 'ชื่อผู้เบิก', value: 'User_Name' },
      ],
    };
  },
};
</script>

<style></style>
