<template>
  <v-container fluid>
    <TableWaitCompany></TableWaitCompany>
  </v-container>
</template>

<script>
import TableWaitCompany from '../../components/TableWaitCompany';
export default {
  name: 'CompanyWait',
  components: { TableWaitCompany },
};
</script>

<style></style>
