<template>
  <v-container fluid>
    <TableCompany></TableCompany>
  </v-container>
</template>

<script>
import TableCompany from '../../components/TableCompany';
export default {
  name: 'CompanyList',
  components: { TableCompany },
};
</script>

<style></style>
