<template>
  <v-container fluid>
    <NewMaterial></NewMaterial>
  </v-container>
</template>

<script>
import NewMaterial from '../../components/NewMaterial';
export default {
  name: 'ReceiveNew',
  components: { NewMaterial },
};
</script>

<style></style>
