<template>
  <v-container fluid>
    <ReportOrder></ReportOrder>
  </v-container>
</template>

<script>
import ReportOrder from '../../components/user.order/ReportOrder';
export default {
  name: 'OrderReport',
  components: { ReportOrder },
  data() {
    return {};
  },
};
</script>

<style></style>
