<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color || null"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <div class="display-1 mb-8">
      วัตถุดิบที่ใช้ผลิตสินค้า
    </div>
    <v-row align="center" justify="center">
      <v-col sm="12" md="8" lg="8">
        <v-card>
          <v-card-text>
            <v-form v-model="isValid.gen">
              <v-autocomplete
                class="mx-8"
                v-model="gen.typeId"
                :items="gen.data"
                item-text="Prod_Type_Id"
                item-value="Prod_Type_Id"
                label="ค้นหาประเภท..."
                dense
                outlined
                @change="getPro"
              >
                <template v-slot:selection="data">
                  {{ data.item.Prod_Type_Id }} - {{ data.item.Prod_Type_Name }}
                </template>
                <template v-slot:item="data">
                  <template>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="data.item.Prod_Type_Id"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-html="data.item.Prod_Type_Name"
                      ></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
              <v-autocomplete
                class="mx-8"
                v-model="get.proId"
                :items="get.data"
                :disabled="!isValid.get"
                item-text="Prod_Id"
                item-value="Prod_Id"
                label="ค้นหาสินค้า..."
                dense
                outlined
              >
                <template v-slot:selection="data">
                  {{ data.item.Prod_Id }} - {{ data.item.Prod_Name }}
                </template>
                <template v-slot:item="data">
                  <template>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="data.item.Prod_Id"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-html="data.item.Prod_Name"
                      ></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
            </v-form>
            <div class="text-center">
              <v-btn
                color="amber darken-1"
                :disabled="!gen.typeId || !get.proId"
                @click="onGen"
              >
                ยืนยัน
              </v-btn>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <v-row v-if="isValid.table" align="center" justify="center">
      <v-col sm="12" md="8" lg="8">
        <v-btn color="green darken-1" text @click="dialog.add = true">
          เพิ่ม
        </v-btn>
        <v-btn
          v-if="del.arr.length >= 1"
          color="red darken-1"
          text
          @click="dialog.del = true"
        >
          ลบรายการที่เลือก
        </v-btn>
        <v-data-table
          v-model="del.arr"
          item-key="Mat_Id"
          :headers="table.headers"
          :items="table.data"
          :items-per-page="5"
          class="elevation-1"
          show-select
        ></v-data-table>
      </v-col>
    </v-row>
    <v-dialog v-model="dialog.add" max-width="600">
      <v-card>
        <v-card-title class="headline">
          เพิ่ม
        </v-card-title>
        <v-card-text>
          <v-form v-model="isValid.add" ref="add">
            <div v-for="(item, idx) in add.arr" :key="idx">
              <div class="d-flex justify-end mr-6 mb-2">
                <v-btn
                  v-if="add.arr.length > 1"
                  color="red darken-1"
                  icon
                  outlined
                  @click="removeObj(idx)"
                >
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
              </div>
              <v-autocomplete
                class="mx-8"
                v-model="add.arr[idx].typeId"
                :items="add.typeData"
                item-text="Mat_Type_Id"
                item-value="Mat_Type_Id"
                label="ค้นหาประเภท..."
                prepend-icon="mdi-city-variant"
                dense
                outlined
                @change="getMat(idx)"
              >
                <template v-slot:selection="data">
                  {{ data.item.Mat_Type_Id }} - {{ data.item.Mat_Type_Name }}
                </template>
                <template v-slot:item="data">
                  <template>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="data.item.Mat_Type_Id"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-html="data.item.Mat_Type_Name"
                      ></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
              <v-autocomplete
                class="mx-8"
                v-model="add.arr[idx].matId"
                :items="add.matData[idx].data"
                :disabled="!isValid.mat[idx].data"
                item-text="Mat_Id"
                item-value="Mat_Id"
                label="ค้นหาวัตถุดิบ..."
                prepend-icon="mdi-city-variant"
                dense
                outlined
              >
                <template v-slot:selection="data">
                  {{ data.item.Mat_Id }} - {{ data.item.Mat_Name }}
                </template>
                <template v-slot:item="data">
                  <template>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="data.item.Mat_Id"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-html="data.item.Mat_Name"
                      ></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
              <v-text-field
                class="mx-8"
                v-model.number="add.arr[idx].num"
                :rules="rules.num"
                label="จำนวนที่ใช้"
                type="number"
                prepend-icon="mdi-city-variant"
                color="amber darken-1"
                dense
                outlined
                required
              ></v-text-field>
            </div>
          </v-form>
          <div class="text-center">
            <v-btn color="blue darken-1" icon outlined @click="addObj">
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog.add = false">
            ยกเลิก
          </v-btn>
          <v-btn
            color="amber darken-1"
            text
            :disabled="!isValid.add || !add.arr.length"
            @click="onAdd"
          >
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog.del" max-width="400">
      <v-card>
        <v-card-title class="headline">
          แจ้งเตือน
        </v-card-title>
        <v-card-text>
          <div class="subtitle-1">
            คุณต้องการลบข้อมูลที่เลือกหรือไม่
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog.del = false">
            ยกเลิก
          </v-btn>
          <v-btn color="green darken-1" text @click="onDel">
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios';
import { CONFIG } from '../../configs';
export default {
  name: 'TableGood',
  created() {
    this.getProType();
  },
  data() {
    return {
      snackbar: {
        visible: false,
        color: '',
        text: '',
      },
      isValid: {
        gen: false,
        get: false,
        table: false,
        add: false,
        del: false,
        mat: [{ data: false }],
      },
      dialog: {
        add: false,
        del: false,
      },
      table: {
        data: [],
        headers: [
          { text: 'รหัสวัตถุดิบ', value: 'Mat_Id' },
          { text: 'ชื่อวัตถุดิบ', value: 'Mat_Name' },
          { text: 'สีวัตถุดิบ', value: 'Mat_Color' },
          { text: 'ขนาดวัตถุดิบ', value: 'Mat_Size' },
          { text: 'จำนวนที่ใช้', value: 'Goods_Num' },
        ],
      },
      rules: {
        name: [(v) => !!v || 'กรุณากรอกข้อมูล'],
        num: [(v) => (v > 0 && Number.isInteger(v)) || 'กรุณากรอกจำนวน'],
      },
      gen: {
        data: [],
        typeId: '',
        compId: this.$store.getters.currentCompa,
      },
      get: {
        data: [],
        proId: '',
      },
      add: {
        typeData: [],
        matData: [{ data: [] }],
        arr: [{ typeId: '', matId: '', num: '' }],
        typeId: '',
        proId: '',
      },
      del: {
        arr: [],
        proId: '',
      },
    };
  },
  methods: {
    async getProType() {
      try {
        let res = await axios.post(`${CONFIG.BASEAPI}/products/type`, this.gen);
        if (!res.data.statusCode) {
          if (res.data.length) {
            console.log(res.data);
            this.gen.data = res.data;
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async getPro() {
      try {
        let res = await axios.post(`${CONFIG.BASEAPI}/products/list`, this.gen);
        if (!res.data.statusCode) {
          if (res.data.length) {
            console.log(res.data);
            this.get.data = res.data;
            this.isValid.get = true;
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async getMatType() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/materials/types/search`,
          this.gen
        );
        if (!res.data.statusCode) {
          if (res.data.length) {
            console.log(res.data);
            this.add.typeData = res.data;
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async getMat(idx) {
      try {
        console.log(idx);
        this.add.typeId = this.add.arr[idx].typeId;
        let res = await axios.post(
          `${CONFIG.BASEAPI}/materials/list`,
          this.add
        );
        if (!res.data.statusCode) {
          if (res.data.length) {
            console.log(res.data);
            this.add.matData[idx].data = res.data;
            this.isValid.mat[idx].data = true;
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async onGen() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/products/goods`,
          this.get
        );
        if (!res.data.statusCode) {
          if (res.data.length) {
            console.log(res.data);
            this.table.data = res.data;
            this.add.proId = this.get.proId;
            this.del.proId = this.get.proId;
            this.isValid.table = true;
            this.getMatType();
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async onAdd() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/products/goods/add`,
          this.add
        );
        console.log(res.data);
        if (!res.data.statusCode && res.data === 'OK') {
          this.onGen();
          this.dialog.add = false;
          this.$refs.add.reset();
          this.add.arr.length = 1;
          this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
          this.snackbar.color = 'success';
          this.snackbar.visible = true;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async onDel() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/products/goods/del`,
          this.del
        );
        console.log(res.data);
        if (!res.data.statusCode) {
          this.onGen();
          this.del.arr.length = 0;
          this.dialog.del = false;
          this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
          this.snackbar.color = 'success';
          this.snackbar.visible = true;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    addObj() {
      this.add.arr.push({ typeId: '', matId: '', num: '' });
      this.add.matData.push({ data: [] });
      this.isValid.mat.push({ data: false });
    },
    removeObj(idx) {
      this.add.arr.splice(idx, 1);
    },
  },
};
</script>
