<template>
  <AddCarry></AddCarry>
</template>

<script>
import { AddCarry } from '../components'
export default {
    name: 'AddCarryview',
    components:{ AddCarry },
}
</script>

<style>

</style>