<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="6" md="8">
        <v-card class="elevation-8">
          <v-row>
            <v-col cols="12" md="6" class="amber lighten-1">
              <v-card-text class="py-8">
                <div class="text-center display-2 pb-8">
                  ลืมรหัสผ่าน?
                </div>
                <div class="text-center">
                  <v-btn rounded outlined @click="onBack">
                    กลับไปหน้าแรก
                  </v-btn>
                </div>
              </v-card-text>
            </v-col>
            <v-col cols="12" md="6">
              <v-card-text v-if="!isValid.get">
                <div class="text-center display-1 pb-2">
                  กรุณากรอกข้อมูล
                </div>
                <div class="text-center pb-4">
                  เพื่อทำการยืนยันตัวตน
                </div>
                <v-form v-model="isValid.forgot">
                  <v-text-field
                    class="mx-8"
                    v-model="forgot.username"
                    :rules="rules.name"
                    label="ชื่อผู้ใช้"
                    prepend-icon="mdi-account"
                    color="amber darken-1"
                    required
                  ></v-text-field>
                  <v-text-field
                    class="mx-8"
                    v-model="forgot.email"
                    :rules="rules.email"
                    label="อีเมล"
                    prepend-icon="mdi-email"
                    color="amber darken-1"
                    required
                  ></v-text-field>
                </v-form>
                <div class="text-center mt-3">
                  <v-btn
                    rounded
                    :loading="$store.getters.currentLoading"
                    color="yellow darken-2"
                    :disabled="!isValid.forgot || $store.getters.currentLoading"
                    @click="onForgot"
                  >
                    ยืนยัน
                  </v-btn>
                </div>
              </v-card-text>

              <v-card-text v-else>
                <div class="text-center display-1 pb-2">
                  กรอกรหัสผ่าน
                </div>
                <div class="text-center pb-4">
                  กรุณาตั้งรหัสผ่านใหม่
                </div>
                <v-form v-model="isValid.reset">
                  <v-text-field
                    class="mx-8"
                    v-model="forgot.passRaw"
                    :rules="rules.password"
                    label="รหัสผ่าน"
                    type="password"
                    prepend-icon="mdi-account"
                    color="amber darken-1"
                    required
                  ></v-text-field>
                </v-form>
                <div class="text-center mt-3">
                  <v-btn
                    class="mr-2"
                    rounded
                    outlined
                    @click="isValid.get = false"
                  >
                    ยกเลิก
                  </v-btn>
                  <v-btn
                    class="ml-2"
                    rounded
                    :loading="$store.getters.currentLoading"
                    color="yellow darken-2"
                    :disabled="!isValid.reset || $store.getters.currentLoading"
                    @click="onReset"
                  >
                    ยืนยัน
                  </v-btn>
                </div>
              </v-card-text>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog persistent v-model="dialog.warn" max-width="400">
      <v-card>
        <v-card-title class="headline">
          แจ้งเตือน
        </v-card-title>
        <v-card-text>
          <div class="subtitle-1">
            ระบบได้บันทึกรหัสผ่านใหม่ของคุณแล้ว
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="onBack">
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios';
import md5 from 'md5';
import { CONFIG } from '../configs';
export default {
  name: 'Forget',
  data() {
    return {
      snackbar: {
        visible: false,
        color: '',
        text: '',
      },
      isValid: {
        forgot: false,
        get: false,
        reset: false,
        warn: false,
      },
      dialog: {
        warn: false,
      },
      forgot: {
        email: '',
        username: '',
        pass: '',
        passRaw: '',
        id: '',
      },
      rules: {
        name: [
          (v) => !!v || 'กรุณากรอกชื่อผู้ใช้',
          (v) => v.length >= 6 || 'ต้องมีความยาวอย่างน้อย 6 ตัวอักษร',
        ],
        password: [
          (v) => !!v || 'กรุณากรอกรหัสผ่าน',
          (v) =>
            (v.length >= 8 && v.length <= 16) ||
            'ต้องมีความยาวระหว่าง 8-16 ตัวอักษร',
        ],
        email: [
          (v) =>
            /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
            'กรุณากรอกอีเมลให้ถูกต้อง',
        ],
      },
      timeout: null,
    };
  },
  methods: {
    async onForgot() {
      try {
        this.$store.commit('isLoading', !this.$store.getters.currentLoading);
        let res = await axios.post(
          `${CONFIG.BASEAPI}/accounts/forgot`,
          this.forgot
        );
        if (!res.data.statusCode && res.data.length) {
          console.log(res.data);
          this.forgot.id = res.data[0].Admin_Id || res.data[0].User_Id;
          this.isValid.get = true;
          this.$store.commit('isLoading', !this.$store.getters.currentLoading);
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
        this.$store.commit('isLoading', !this.$store.getters.currentLoading);
      }
    },
    async onReset() {
      try {
        this.$store.commit('isLoading', !this.$store.getters.currentLoading);
        this.forgot.pass = md5(this.forgot.passRaw);
        let res = await axios.post(
          `${CONFIG.BASEAPI}/accounts/reset`,
          this.forgot
        );
        if (!res.data.statusCode && res.data === 'OK') {
          this.$store.commit('isLoading', !this.$store.getters.currentLoading);
          this.dialog.warn = true;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
        this.$store.commit('isLoading', !this.$store.getters.currentLoading);
      }
    },
    onBack() {
      this.$router.push({ path: '/' });
    },
  },
};
</script>
