<template>
  <v-container class="fill-height" fluid>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="6" md="8">
        <v-card class="elevation-8">
          <v-window v-model="step">
            <v-window-item :value="1">
              <v-row>
                <v-col cols="12" md="6">
                  <v-card-text class="my-12">
                    <h1 class="text-center display-2 mb-8">
                      ยินดีต้อนรับ
                    </h1>
                    <v-form v-model="isValidLogin">
                      <v-text-field
                        class="mx-8"
                        v-model="login.username"
                        :rules="nameRules"
                        label="ชื่อผู้ใช้"
                        prepend-icon="mdi-account"
                        color="amber darken-1"
                        required
                      ></v-text-field>
                      <v-text-field
                        class="mx-8"
                        v-model="login.passStr"
                        :rules="passwordRules"
                        label="รหัสผ่าน"
                        prepend-icon="mdi-lock"
                        type="password"
                        color="amber darken-1"
                        required
                      ></v-text-field>
                    </v-form>
                    <div class="text-center mt-3">
                      <v-btn
                        rounded
                        :loading="$store.getters.currentLoading"
                        color="yellow darken-2"
                        :disabled="
                          !isValidLogin || $store.getters.currentLoading
                        "
                        @click="onLogin"
                        >เข้าสู่ระบบ
                      </v-btn>
                    </div>
                    <div class="text-center mt-6">
                      <v-btn text small @click="onForgot">ลืมรหัสผ่าน?</v-btn>
                    </div>
                  </v-card-text>
                </v-col>
                <v-col cols="12" md="6" class="amber lighten-1">
                  <v-card-text class="mt-8">
                    <h2 class="text-center display-1">
                      Warehouse Management System
                    </h2>
                    <h3 class="text-center mt-4 font-weight-regular">
                      ระบบจัดการคลังสินค้า
                    </h3>
                    <div class="text-center mt-4">
                      <v-btn rounded outlined @click="step++">ลงทะเบียน </v-btn>
                    </div>
                  </v-card-text>
                </v-col>
              </v-row>
            </v-window-item>
            <v-window-item :value="2">
              <v-row class="fill-height">
                <v-col cols="12" md="6" class="amber lighten-1">
                  <v-card-text class="my-12">
                    <h1 class="text-center display-2">ยินดีต้อนรับกลับ</h1>
                    <h3 class="text-center mt-4 font-weight-regular">
                      มีบัญชีอยู่แล้ว?
                    </h3>
                    <div class="text-center mt-4">
                      <v-btn rounded outlined @click="step--">
                        เข้าสู่ระบบ
                      </v-btn>
                    </div>
                  </v-card-text>
                </v-col>
                <v-col cols="12" md="6">
                  <v-card-text class="mt-4">
                    <h2 class="text-center display-1 mb-6">
                      ลงทะเบียนผู้ใช้ใหม่
                    </h2>
                    <v-form v-model="isValidRegister">
                      <v-text-field
                        class="mx-8"
                        v-model="register.username"
                        :rules="nameRules"
                        label="ชื่อผู้ใช้"
                        prepend-icon="mdi-account"
                        color="amber darken-1"
                        dense
                        outlined
                        required
                      ></v-text-field>
                      <v-text-field
                        class="mx-8"
                        v-model="register.passStr"
                        :rules="passwordRules"
                        label="รหัสผ่าน"
                        type="password"
                        prepend-icon="mdi-lock"
                        color="amber darken-1"
                        dense
                        outlined
                        required
                      ></v-text-field>
                      <v-text-field
                        class="mx-8"
                        v-model="register.email"
                        :rules="emailRules"
                        label="อีเมล"
                        prepend-icon="mdi-email"
                        color="amber darken-1"
                        dense
                        outlined
                        required
                      ></v-text-field>
                      <v-text-field
                        class="mx-8"
                        v-model="register.company"
                        :rules="companyRules"
                        label="ชื่อบริษัท"
                        prepend-icon="mdi-city-variant"
                        color="amber darken-1"
                        dense
                        outlined
                        required
                      ></v-text-field>
                      <v-text-field
                        class="mx-8"
                        v-model="register.name"
                        :rules="headNameRules"
                        label="ชื่อผู้ประกอบการ"
                        prepend-icon="mdi-account-tie"
                        color="amber darken-1"
                        dense
                        outlined
                        required
                      ></v-text-field>
                      <v-text-field
                        class="mx-8"
                        v-model="register.surname"
                        :rules="headSurnameRules"
                        label="นามสกุลผู้ประกอบการ"
                        prepend-icon="mdi-account-tie"
                        color="amber darken-1"
                        dense
                        outlined
                        required
                      ></v-text-field>
                      <v-text-field
                        class="mx-8"
                        v-model="register.companyAddress"
                        :rules="companyAddressRules"
                        label="ที่อยู่บริษัท"
                        prepend-icon="mdi-map-marker"
                        color="amber darken-1"
                        dense
                        outlined
                        required
                      ></v-text-field>
                      <v-text-field
                        class="mx-8"
                        v-model="register.tel"
                        :rules="TelephoneRules"
                        label="เบอร์โทรศัพท์"
                        type="tel"
                        prepend-icon="mdi-phone"
                        color="amber darken-1"
                        dense
                        outlined
                        required
                      ></v-text-field>
                      <v-text-field
                        class="mx-8"
                        v-model="register.headNo"
                        :rules="headNoRules"
                        label="เลขประจำตัวผู้เสียภาษี"
                        type="tel"
                        prepend-icon="mdi-smart-card"
                        color="amber darken-1"
                        dense
                        outlined
                        required
                      ></v-text-field>
                    </v-form>
                    <div class="text-center">
                      <v-btn
                        rounded
                        color="amber lighten-1"
                        :loading="$store.getters.currentLoading"
                        :disabled="
                          !isValidRegister || $store.getters.currentLoading
                        "
                        @click="onRegister"
                      >
                        ลงทะเบียน
                      </v-btn>
                    </div>
                  </v-card-text>
                </v-col>
              </v-row>
            </v-window-item>
          </v-window>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import md5 from 'md5';
import { CONFIG } from '../configs';
export default {
  name: 'Home',
  components: {},
  beforeDestroy() {
    clearInterval(this.timeout);
  },
  data: () => ({
    step: 1,
    isValidLogin: false,
    isValidRegister: false,
    isLoading: false,
    snackbar: {
      visible: false,
      color: '',
      text: '',
    },
    login: {
      username: '',
      password: '',
      passStr: '',
    },
    register: {
      username: '',
      password: '',
      passStr: '',
      email: '',
      company: '',
      name: '',
      surname: '',
      companyAddress: '',
      tel: '',
      headNo: '',
    },
    add: {
      name: '',
      date: moment().format('YYYY-MM-DD'),
      typeId: 'NT0002',
    },
    nameRules: [
      (v) => !!v || 'กรุณากรอกชื่อผู้ใช้',
      (v) => v.length >= 6 || 'ต้องมีความยาวอย่างน้อย 6 ตัวอักษร',
    ],
    passwordRules: [
      (v) => !!v || 'กรุณากรอกรหัสผ่าน',
      (v) =>
        (v.length >= 8 && v.length <= 16) ||
        'ต้องมีความยาวระหว่าง 8-16 ตัวอักษร',
    ],
    emailRules: [
      (v) =>
        /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) ||
        'กรุณากรอกอีเมลให้ถูกต้อง',
    ],
    TelephoneRules: [
      (v) => !!v || 'กรุณากรอกเบอร์โทรศัพท์',
      (v) => v.length === 10 || 'ต้องมีความยาว 10 หลัก',
    ],
    companyRules: [(v) => !!v || 'กรุณากรอกชื่อบริษัท'],
    companyAddressRules: [(v) => !!v || 'กรุณากรอกที่อยู่บริษัท'],
    headNameRules: [(v) => !!v || 'กรุณากรอกชื่อผู้ประกอบการ'],
    headSurnameRules: [(v) => !!v || 'กรุณากรอกนามสกุลผู้ประกอบการ'],
    headNoRules: [
      (v) => !!v || 'กรุณากรอกเลขประจำตัวผู้เสียภาษี',
      (v) => v.length === 13 || 'ต้องมีความยาว 13 หลัก',
    ],
    timeout: null,
  }),
  methods: {
    onForgot() {
      this.$router.push({ path: '/forgot' });
    },
    async onLogin() {
      try {
        this.$store.commit('isLoading', !this.$store.getters.currentLoading);
        this.login.password = md5(this.login.passStr);
        let res = await axios.post(
          `${CONFIG.BASEAPI}/accounts/login`,
          this.login
        );
        if (!res.data.statusCode) {
          if (res.data[0].SpAdmin_Id) {
            await this.$store.commit('isLogin', 'SpAdmin');
            await this.$router.push({ path: '/home' });
            location.reload();
          } else if (res.data[0].Admin_Id && res.data[0].Admin_Status) {
            // if (res.data[0].Admin_Status === 1) {
            await this.$store.commit('isLogin', 'Admin');
            await this.$store.commit('isLogin2', res.data[0].Admin_Id);
            await this.$store.commit('isLogin3', res.data[0].Comp_Id);
            await this.$store.commit(
              'isLogin4',
              `${res.data[0].Admin_Name} ${res.data[0].Admin_Surname}`
            );
            await this.$router.push({ path: '/home' });
            location.reload();
            // } else {
            //   this.snackbar.text =
            //     'บัญชีนี้ยังไม่สามารถเข้าสู่ระบบได้ในขณะนี้ กรุณาลองใหม่อีกครั้ง';
            //   this.snackbar.color = 'error';
            //   this.snackbar.visible = true;
            // }
          } else if (res.data[0].User_Id && res.data[0].User_Dep === 1) {
            await this.$store.commit('isLogin', 'Receive');
            await this.$store.commit('isLogin2', res.data[0].User_Id);
            await this.$store.commit('isLogin3', res.data[0].Comp_Id);
            await this.$store.commit(
              'isLogin4',
              `${res.data[0].User_Name} ${res.data[0].User_Surname}`
            );
            await this.$store.commit('isLogin5', res.data[0].Admin_Id);
            await this.$router.push({ path: '/us/receive' });
            location.reload();
          } else if (res.data[0].User_Id && res.data[0].User_Dep === 2) {
            await this.$store.commit('isLogin', 'Check');
            await this.$store.commit('isLogin2', res.data[0].User_Id);
            await this.$store.commit('isLogin3', res.data[0].Comp_Id);
            await this.$store.commit(
              'isLogin4',
              `${res.data[0].User_Name} ${res.data[0].User_Surname}`
            );
            await this.$store.commit('isLogin5', res.data[0].Admin_Id);
            await this.$router.push({ path: '/us/check' });
            location.reload();
          } else if (res.data[0].User_Id && res.data[0].User_Dep === 3) {
            await this.$store.commit('isLogin', 'Order');
            await this.$store.commit('isLogin2', res.data[0].User_Id);
            await this.$store.commit('isLogin3', res.data[0].Comp_Id);
            await this.$store.commit(
              'isLogin4',
              `${res.data[0].User_Name} ${res.data[0].User_Surname}`
            );
            await this.$store.commit('isLogin5', res.data[0].Admin_Id);
            await this.$router.push({ path: '/us/order' });
            location.reload();
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
        this.$store.commit('isLoading', !this.$store.getters.currentLoading);
      }
    },
    async onRegister() {
      try {
        this.$store.commit('isLoading', !this.$store.getters.currentLoading);
        this.register.password = md5(this.register.passStr);
        let res = await axios.post(
          `${CONFIG.BASEAPI}/accounts/register`,
          this.register
        );
        console.log(res.data);
        if (!res.data.statusCode && res.data === 'OK') {
          this.addNoti();
          this.$store.commit('isLoading', !this.$store.getters.currentLoading);
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
        this.$store.commit('isLoading', !this.$store.getters.currentLoading);
      }
    },
    async addNoti() {
      try {
        this.add.name = this.register.company;
        let res = await axios.post(
          `${CONFIG.BASEAPI}/notifications/adds/sa`,
          this.add
        );
        if (!res.data.statusCode && res.data === 'OK') {
          this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
          this.snackbar.color = 'success';
          this.snackbar.visible = true;
          this.timeout = setInterval(() => {
            window.location.reload();
          }, 1000);
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
  },
  props: {
    sourse: String,
  },
};
</script>
