<template>
  <v-container fluid>
      <SearchProduct></SearchProduct>
  </v-container>
</template>

<script>
import {SearchProduct} from '../components'
export default {
    name:'SProduct',
    components:{ SearchProduct },
}
</script>

<style>

</style>