<template>
  <v-container fluid>
    <Check></Check>
  </v-container>
</template>

<script>
import { Check } from '../../components';
export default {
  name: 'CheckReport',
  components: { Check },
};
</script>

<style></style>
