<template>
  <v-container fluid>
    <ReportRec> </ReportRec>
  </v-container>
</template>

<script>
import { ReportRec } from '../../components';
export default {
  name: 'ReportRecPdf',
  components: { ReportRec },
  data() {
    return {};
  },
};
</script>

<style>
</style>
