<template>
  <v-container fluid>
      <ReportCheck></ReportCheck>
  </v-container>
</template>

<script>
import { ReportCheck } from '../../components'
export default {
    name: 'ReportCheckPdf',
    components:{ ReportCheck },
}
</script>

<style>

</style>