<template>
  <v-container fluid>
    <Reveal></Reveal>
  </v-container>
</template>

<script>
import { Reveal } from '../../components';
export default {
  name: 'RevealReport',
  components: {Reveal},
};
</script>

<style></style>
