<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color || null"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <!--header-->
    <div class="display-1 mb-8">
      ยกยอดวัตถุดิบ
    </div>
    <!--SearchProducts-->
    <v-row align="center" justify="center">
      <v-col sm="12" md="8" lg="8">
        <v-card>
          <v-card-text>
            <v-form v-model="disables">
              <v-autocomplete
                class="mx-8"
                v-model="searchMaterial.matid"
                :items="materials"
                outlined
                dense
                :rules="rules"
                color="blue-grey lighten-2"
                label="รหัสวัตถุดิบแรก"
                item-text="Mat_Id"
                item-value="Mat_Id"
              >
                <template v-slot:item="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template v-else>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="data.item.Mat_Id"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-html="data.item.Mat_Name"
                      ></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
              <v-autocomplete
                class="mx-8"
                v-model="searchMaterial.matidlast"
                :items="materialsLast"
                outlined
                dense
                :rules="rules"
                color="blue-grey lighten-2"
                label="รหัสวัตถุดิบสุดท้าย"
                item-text="Mat_Id"
                item-value="Mat_Id"
              >
                <template v-slot:item="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template v-else>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="data.item.Mat_Id"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-html="data.item.Mat_Name"
                      ></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
            </v-form>
          </v-card-text>

          <div class="d-flex justify-center">
            <v-btn
              class="mb-5"
              color="amber darken-1"
              @click="searchMat"
              :disabled="
                !disables ||
                  !searchMaterial.matid ||
                  !searchMaterial.matidlast ||
                  show == true
              "
            >
              ค้นหา
            </v-btn>
            <v-btn color="amber darken-1" text @click="refresh">
              <v-icon>mdi-refresh</v-icon>
            </v-btn>
          </div>
        </v-card>
      </v-col>
    </v-row>

    <div v-if="show === true">
      <v-row align="center" justify="center">
        <v-col sm="12" md="8" lg="8">
          <v-card>
            <v-card-title>
              เพิ่มเอกสารยกยอดวัตถุดิบ
            </v-card-title>
            <v-card-subtitle>
              วันที่ {{ newdate }}
              (เลขเอกสารล่าสุด {{ newIdCarry || 'ยังไม่มีเลขเอกสาร' }})
            </v-card-subtitle>
            <v-item-group>
              <v-form>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn class="mb-5" color="red darken-1" outlined @click="cancelData">
                    ยกเลิก
                  </v-btn>
                  <v-btn
                    class="mr-6 mb-5"
                    color="green darken-1"
                    @click="confirmData"
                    outlined
                  >
                    ยืนยัน
                  </v-btn>
                </v-card-actions>
              </v-form>
            </v-item-group>
          </v-card>
        </v-col>
      </v-row>
    </div>

    <v-dialog max-width="600" v-model="diglogConfirmData">
      <v-card>
        <v-card-title>
          แจ้งเตือน
        </v-card-title>
        <v-card-text>
          คุณต้องการสร้างเอกสารหรือไม่ กรุณายืนยัน
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="mb-5" color="red darken-1" outlined @click="exitCarry">
            ยกเลิก
          </v-btn>
          <v-btn class="mr-6 mb-5" color="green darken-1" outlined @click="addDataCarry">
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import moment from 'moment';
import axios from 'axios';
import { CONFIG } from '../configs';

export default {
  name: 'AddCarry',
  created() {
    this.$store.getters.currentId;
    console.log(this.$store.getters.currentId);
    this.$store.getters.currentCompa;
    console.log(this.$store.getters.currentCompa);
    this.searchMaterials();
  },
  methods: {
    confirmData() {
      this.diglogConfirmData = true;
      console.log('carryID',this.add)
    },
    searchMat() {
      this.showCarryMaterials();
    },
    refresh() {
      this.timeout = setInterval(() => {
        window.location.reload();
      }, 1000);
    },
    cancelData(){
      this.show = false;
    },
    exitCarry(){
      this.diglogConfirmData = false;
    },
    open(text,color,visible){
      this.snackbar.text = text
      this.snackbar.color = color
      this.snackbar.visible = visible
    },
    async searchMaterials() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/searchmaterials`,
          this.company
        );
        if (!res.data.statusCode) {
          this.materials = res.data;
          this.materialsLast = res.data;
          console.log('namematerials', res.data);
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackber.text = message;
        this.snackber.color = 'error';
        this.snackber.visible = true;
      }
    },
    async showCarryMaterials() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/showcarrymaterials`,
          this.searchMaterial
        );
        if (!res.data.statusCode) {
          this.add.materialsList = res.data;
          console.log('materialList', res.data);
          this.show = true;
          this.newId();
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },

    async newId() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/newidcarry`,
          this.company
        );
        if (!res.data.statusCode) {
          this.newIdCarry = res.data[0].Carry_Id;
          console.log('newid', res.data);
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackber.text = message;
        this.snackber.color = 'error';
        this.snackber.visible = true;
      }
    },
    /*
    
    */ 

    async addDataCarry() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/addcarrys`,
          this.add
        );
        if (!res.data.statusCode) {
          if (res.data === 'OK') {
            console.log('Success', res.data);
            this.show = false;
            this.diglogConfirmData = false;
            
            this.open('ระบบได้บันทึกข้อมูลของคุณแล้ว','success',true);
            this.timeout = setInterval (()=>{
              window.location.reload();
            },1000);
           
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.open(message,'error',true)
        this.diglogConfirmData = false;
        this.timeout = setInterval(()=>{
            window.location.reload();
        },1000);
      }
    },
  },
  data() {
    return {
      diglogConfirmData: false,
      newdate: moment()
        .locale('th')
        .add(543, 'year')
        .format('DD/MM/YYYY'),
      searchMaterial: {
        matid: '',
        matidlast: '',
        comp: this.$store.getters.currentCompa,
      },
      materials: [],
      materialsLast: [],
      disables: false,
      show: false,
      add: {
        materialsList: [],
        adminId: this.$store.getters.currentId,
        comp : this.$store.getters.currentCompa,
      },
      rules: [(v) => !!v || 'กรุณากรอกข้อมูล'],
      company: {
        compid: this.$store.getters.currentCompa,
      },
      newIdCarry: '',
      snackbar: {
        visible: false,
        color: '',
        text: '',
      },
      nameRules: [
        (v) => !!v || 'กรุณากรอกเลขเอกสารยกยอดวัตถุดิบ',
        (v) =>
          /^[A-Z0-9]+(?:[ _-][A-Z0-9]+)*$/.test(v) ||
          'กรุณาใช้ตัวอักษรภาษาอังกฤษตัวใหญ่และตัวเลขเท่านั้น ตัวอย่าง CA ตามด้วย 0000 และห้ามเว้นตัวอักษร',
        (v) =>
          (v || '').length == 6 ||
          'เลขเอกสารยกยอด 6 หลัก ตัวอย่าง CA ตามด้วย 0000',
      ],
    };
  },
};
</script>

<style></style>
