<template>
  <v-container>
    <v-row align="center" justify="space-around">
      <v-col sm="12" md="12" lg="12">
        <v-card min-height="300">
          <v-card-title>
            <v-icon x-large left>
              mdi-bullhorn
            </v-icon>
            <span class="title font-weight-regular">การแจ้งเตือน</span>
          </v-card-title>
          <v-card-text>
            <v-divider></v-divider>
            <div class="mt-4" v-for="item in notiData" :key="item.Noti_Id">
              <div class="black--text" v-if="item.Noti_Status === 0">
                {{ item.Noti_Date }} : {{ item.Noti_Type_Name }}
                {{ item.Noti_Name }}
              </div>
              <div class="gray--text" v-if="item.Noti_Status === 1">
                {{ item.Noti_Date }} : {{ item.Noti_Type_Name }}
                {{ item.Noti_Name }}
              </div>
            </div>
            <div class="mt-4" v-if="!notiData.length">
              ยังไม่มีการแจ้งเตือน...
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row align="center" justify="space-around">
      <v-col cols="12" sm="12" md="4" lg="4">
        <v-card min-height="200">
          <v-card-text class="text-center">
            <v-avatar color="white">
              <v-icon x-large>mdi-account-group</v-icon>
            </v-avatar>
            <v-divider></v-divider>
            <h2 class="text--primary font-weight-regular mt-4">
              จำนวนบริษัทที่เข้าร่วมทั้งหมด
            </h2>
            <h2 class="display-2 text--primary mt-2">
              {{ count.total || '-' }}
            </h2>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="12" md="4" lg="4">
        <v-card min-height="200">
          <v-card-text class="text-center">
            <v-avatar color="white">
              <v-icon x-large>mdi-account-multiple-plus</v-icon>
            </v-avatar>
            <v-divider></v-divider>
            <h2 class="text--primary font-weight-regular mt-4">
              จำนวนบริษัทที่เข้าร่วมเดือนนี้
            </h2>
            <h2 class="display-2 text--primary mt-2">
              {{ count.total || '-' }}
            </h2>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="12" md="4" lg="4">
        <v-card min-height="200">
          <v-card-text class="text-center">
            <v-avatar color="white">
              <v-icon x-large>mdi-account-clock</v-icon>
            </v-avatar>
            <v-divider></v-divider>
            <h2 class="text--primary font-weight-regular mt-4">
              จำนวนบริษัทที่รอการยืนยัน
            </h2>
            <h2 class="display-2 text--primary mt-2">
              {{ count.wait || '-' }}
            </h2>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import SpAdminService from '../services/SpAdminService';
import { CONFIG } from '../configs';
export default {
  name: 'DashboardSAdmin',
  components: {},
  created() {
    this.getNotiList();
    this.getCountCompany();
    this.getCountWaitCompany();
  },
  data() {
    return {
      count: {
        total: null,
        wait: null,
      },
      notiData: [],
    };
  },
  methods: {
    async getNotiList() {
      try {
        let res = await axios.get(`${CONFIG.BASEAPI}/notifications/admins/sa`);
        console.log(res.data);
        if (!res.data.statusCode) {
          res.data.forEach((i) => {
            i.Noti_Date = moment(i.Noti_Date).format('DD/MM/YYYY');
          });
          this.notiData = res.data;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async getCountCompany() {
      try {
        let res = await SpAdminService.getCountCompany();
        if (!res.data.statusCode) {
          this.count.total = res.data[0].count;
        }
      } catch (err) {
        console.log(err);
      }
    },
    async getCountWaitCompany() {
      try {
        let res = await SpAdminService.getCountWaitCompany();
        if (!res.data.statusCode) {
          this.count.wait = res.data[0].count;
        }
      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>

<style></style>
