<template>
  <v-container>
    <v-navigation-drawer v-model="drawer" app>
      <v-list v-if="role == 'SpAdmin'" dense>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="title">
              Welcome!
            </v-list-item-title>
            <v-list-item-subtitle>
              {{ name }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <v-list-item link to="/home">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>ภาพรวม</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item exact link to="/sa/company">
          <v-list-item-action>
            <v-icon>mdi-office-building</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>รายชื่อบริษัทที่ยืนยัน</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/sa/company/wait">
          <v-list-item-action>
            <v-icon>mdi-office-building</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>ยืนยันบริษัท</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-list v-if="role == 'Admin'" dense>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="title">
              Welcome!
            </v-list-item-title>
            <v-list-item-subtitle>
              {{ name }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <v-list-item link to="/home">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>ภาพรวม</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <!-- listDefault -->
        <v-list-group prepend-icon="mdi-folder-plus" color="black">
          <template v-slot:activator>
            <v-list-item-title>ค่าเริ่มต้นระบบ</v-list-item-title>
          </template>
          <template>
            <v-list-item link to="/Default">
              <v-list-item-action>
                <v-icon>mdi-warehouse</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>คลังวัตถุดิบ</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
          <template>
            <v-list-item link to="/listUnit">
              <v-list-item-action>
                <v-icon>mdi-numeric-1-box-outline</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>หน่วยนับ</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
          <template>
            <v-list-item link to="/ad/product/goods">
              <v-list-item-action>
                <v-icon>mdi-numeric-1-box-outline</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>วัตถุดิบที่ใช้ผลิตสินค้า</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
          <template>
            <v-list-item exact link to="/ad/material/cate">
              <v-list-item-action>
                <v-icon>mdi-shape</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>หมวดวัตถุดิบ</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
          <template>
            <v-list-item exact link to="/ad/product/cate">
              <v-list-item-action>
                <v-icon>mdi-package</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>หมวดสินค้า</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
          <template>
            <v-list-item exact link to="/ad/material/search">
              <v-list-item-action>
                <v-icon>mdi-card-search-outline</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>ค้นหาวัตถุดิบ</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
          <template>
            <v-list-item link to="/sproduct">
              <v-list-item-action>
                <v-icon>mdi-card-search-outline</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>ค้นหาสินค้า</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-list-group>
        <v-list-item exact link to="/ad/req/order">
          <v-list-item-action>
            <v-icon>mdi-shape</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>คำขอเบิกวัตถุดิบ</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <!-- report -->
        <v-list-group prepend-icon="mdi-file-document" color="black">
          <template v-slot:activator>
            <v-list-item-title>สร้างรายงาน</v-list-item-title>
          </template>
          <template>
            <v-list-item link to="/receipt">
              <v-list-item-action>
                <v-icon>mdi-call-received</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>รับวัตถุดิบ</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
          <template>
            <v-list-item link to="/reveal">
              <v-list-item-action>
                <v-icon>mdi-call-made</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>เบิกวัตถุดิบ</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
          <template>
            <v-list-item link to="/check">
              <v-list-item-action>
                <v-icon>mdi-check</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>ตรวจสอบวัตถุดิบ</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
          <template>
            <v-list-item link to="/carry">
              <v-list-item-action>
                <v-icon>mdi-arrow-up</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>ยกยอดวัตถุดิบ</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
          <template>
            <v-list-item link to="/materialreport">
              <v-list-item-action>
                <v-icon>mdi-material-ui</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>รายละเอียดวัตถุดิบ</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
          <template>
            <v-list-item link to="/getbackreport">
              <v-list-item-action>
                <v-icon>mdi-keyboard-backspace</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>รับคืนวัตถุดิบ</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
          <template>
            <v-list-item link to="/minimumreport">
              <v-list-item-action>
                <v-icon>mdi-numeric-0-box-outline</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>ขั้นต่ำวัตถุดิบ</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-list-group>
        <!-- Employees -->
        <v-list-item link to="/listEmp">
          <v-list-item-action>
            <v-icon>mdi-account</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>รายชื่อพนักงาน</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/addcarryview">
          <v-list-item-action>
            <v-icon>mdi-table-column-plus-after</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>ยกยอดวัตถุดิบ</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-list v-if="role == 'Receive'" dense>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="title">
              Welcome!
            </v-list-item-title>
            <v-list-item-subtitle>
              {{ name }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <v-list-item exact link to="/us/receive">
          <v-list-item-action>
            <v-icon>mdi-pencil-plus-outline</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>บันทึกวัตถุดิบใหม่</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item link to="/us/receive/old">
          <v-list-item-action>
            <v-icon>mdi-pencil-outline</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>บันทึกวัตถุดิบที่มีอยู่</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-list v-if="role == 'Check'" dense>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="title">
              Welcome!
            </v-list-item-title>
            <v-list-item-subtitle>
              {{ name }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <v-list-item exact link to="/us/check">
          <v-list-item-action>
            <v-icon>mdi-pencil-plus-outline</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>บันทึกตรวจนับวัตถุดิบ</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item exact link to="/us/check/return">
          <v-list-item-action>
            <v-icon>mdi-pencil-plus-outline</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>บันทึกรับคืนวัตถุดิบ</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <v-list v-if="role == 'Order'" dense>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="title">
              Welcome!
            </v-list-item-title>
            <v-list-item-subtitle>
              {{ name }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <v-list-item exact link to="/us/order">
          <v-list-item-action>
            <v-icon>mdi-pencil-plus-outline</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>เบิกวัตถุดิบ</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar absolute color="amber lighten-1" app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>{{ title }}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-menu offset-y v-if="role == 'SpAdmin'">
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon color="black" v-bind="attrs" v-on="on">
            <v-icon>mdi-bell</v-icon>
          </v-btn>
        </template>
        <v-card v-if="notiData.length">
          <v-btn small color="amber darken-1" text @click="getNotiList">
            <v-icon>mdi-refresh</v-icon>
          </v-btn>
          <v-list-item
            dense
            link
            inactive
            v-for="(item, i) in notiData"
            :key="i"
            :disabled="item.Noti_Status === 1"
            @click="onNotiSa(item.Noti_Id, item.Noti_Type_Id, item.Noti_Status)"
          >
            <v-list-item-content three-line>
              <v-list-item-title>{{ item.Noti_Type_Name }}</v-list-item-title>
              <v-list-item-subtitle>{{ item.Noti_Name }}</v-list-item-subtitle>
              <v-list-item-subtitle>{{ item.Noti_Date }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
        <v-card v-else>
          <v-btn small color="amber darken-1" text @click="getNotiList">
            <v-icon>mdi-refresh</v-icon>
          </v-btn>
          <v-list-item dense>
            <v-list-item-content>
              <v-list-item-subtitle>ยังไม่มีการแจ้งเตือน</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-menu>

      <v-menu offset-y v-if="role == 'Admin'">
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon color="black" v-bind="attrs" v-on="on">
            <v-icon>mdi-bell</v-icon>
          </v-btn>
        </template>
        <v-card max-width="300" v-if="notiData.length">
          <v-btn small color="amber darken-1" text @click="getNotiList">
            <v-icon>mdi-refresh</v-icon>
          </v-btn>
          <v-list-item
            dense
            link
            inactive
            v-for="(item, i) in notiData"
            :key="i"
            :disabled="item.Noti_Status === 1"
            @click="onNotiSa(item.Noti_Id, item.Noti_Type_Id, item.Noti_Status)"
          >
            <v-list-item-content three-line>
              <v-list-item-title>{{ item.Noti_Type_Name }}</v-list-item-title>
              <v-list-item-subtitle>{{ item.Noti_Name }}</v-list-item-subtitle>
              <v-list-item-subtitle>{{ item.Noti_Date }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
        <v-card v-else>
          <v-btn small color="amber darken-1" text @click="getNotiList">
            <v-icon>mdi-refresh</v-icon>
          </v-btn>
          <v-list-item dense>
            <v-list-item-content>
              <v-list-item-subtitle>ยังไม่มีการแจ้งเตือน</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-menu>

      <v-btn text @click="onLogout">
        <v-icon>mdi-logout</v-icon>
        ออกจากระบบ
      </v-btn>
    </v-app-bar>
  </v-container>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import { CONFIG } from '../configs';
export default {
  name: 'Navbar',
  components: {},
  created() {
    if (this.role === 'SpAdmin' || this.role === 'Admin') {
      this.getNotiList();
    }
  },
  data() {
    return {
      snackbar: {
        text: '',
        color: '',
        visible: false,
      },
      drawer: false,
      role: this.$store.getters.currentUser,
      name: this.$store.getters.currentName,
      fetch: {
        adminId: this.$store.getters.currentId,
      },
      notiData: [],
    };
  },
  methods: {
    async onLogout() {
      await this.$store.commit('isLogout');
      await this.$router.push({ path: '/' });
      location.reload();
    },
    async getNotiList() {
      try {
        let res = [];
        if (this.role === 'SpAdmin') {
          res = await axios.get(`${CONFIG.BASEAPI}/notifications/admins/sa`);
        }
        if (this.role === 'Admin') {
          res = await axios.post(
            `${CONFIG.BASEAPI}/notifications/admins/ad`,
            this.fetch
          );
        }
        console.log(res.data);
        if (!res.data.statusCode) {
          res.data.forEach((i) => {
            i.Noti_Date = moment(i.Noti_Date).format('DD/MM/YYYY');
          });
          this.notiData = res.data;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async onNotiSa(id, typeId, status) {
      try {
        let fetch = {
          notiId: id,
        };
        let res = [];
        if (status === 0) {
          res = await axios.post(
            `${CONFIG.BASEAPI}/notifications/updates/status`,
            fetch
          );
        }
        if (!res.data.statusCode && res.data === 'OK') {
          if (
            typeId === 'NT0000' &&
            this.$router.currentRoute.path != '/ad/req/order'
          ) {
            this.$router.push({ path: '/ad/req/order' });
          }
          if (
            typeId === 'NT0001' &&
            this.$router.currentRoute.path != '/home'
          ) {
            this.$router.push({ path: '/home' });
          }
          if (
            typeId === 'NT0002' &&
            this.$router.currentRoute.path != '/sa/company/wait'
          ) {
            this.$router.push({ path: '/sa/company/wait' });
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async onNotiAd(id, typeId, status) {
      try {
        let fetch = {
          notiId: id,
        };
        let res = [];
        if (status === 0) {
          res = await axios.post(
            `${CONFIG.BASEAPI}/notifications/updates/status`,
            fetch
          );
        }
        if (!res.data.statusCode && res.data === 'OK') {
          console.log('success');
        }
        if (this.$router.currentRoute.path != this.$router.currentRoute.path) {
          if (typeId === 'NT0000') {
            this.$router.push({ path: '/ad/req/order' });
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
  },
  props: ['title'],
};
</script>

<style></style>
