<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color || null"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <div class="display-1 mb-8">
      ค้นหาสินค้า
    </div>
    <!--SearchProducts-->
    <v-row align="center" justify="center">
      <v-col sm="12" md="8" lg="8">
        <v-card>
          <v-card-text>
            <v-autocomplete
              class="mx-8"
              v-model="searchProduct.typeid"
              :items="products"
              outlined
              dense
              label="ค้นหาประเภทสินค้า"
              item-text="Prod_Type_Id"
              item-value="Prod_Type_Id"
            >
              <template v-slot:selection="data">
                {{ data.item.Prod_Type_Id }} - {{ data.item.Prod_Type_Name }}
              </template>
              <template v-slot:item="data">
                <template v-if="typeof data.item !== 'object'">
                  <v-list-item-content v-text="data.item"></v-list-item-content>
                </template>
                <template v-else>
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="data.item.Prod_Type_Id"
                    ></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="data.item.Prod_Type_Name"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </template>
            </v-autocomplete>
          </v-card-text>
          <div class="d-flex justify-center">
            <v-btn
              class="mb-5"
              :disabled="!searchProduct.typeid || show == true"
              color="amber darken-1"
              @click="searchPT"
            >
              ค้นหา
            </v-btn>
            <v-btn color="amber darken-1" text @click="refreshSE">
              <v-icon>mdi-refresh</v-icon>
            </v-btn>
          </div>
        </v-card>
      </v-col>
    </v-row>

    <!--buttonAddProduct-->
    <div v-if="show === true">
      <!-- <v-btn color="amber darken-1" text>
        <v-icon>mdi-refresh</v-icon>
      </v-btn> -->
      <v-btn color="green darken-1" text @click="AddProducts">
        เพิ่ม
      </v-btn>
      <v-btn
        v-if="remove.selected.length >= 1"
        color="red darken-1"
        text
        @click="dialog.deleteProductAll = true"
      >
        ลบรายชื่อที่เลือก
      </v-btn>
    </div>
    <!--DataTables-->
    <div v-if="show === true">
      <v-card>
        <v-card-title>
          สินค้าสำเร็จรูป
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            outlined
            dense
            hide-details
          ></v-text-field>
        </v-card-title>

        <v-data-table
          v-model="remove.selected"
          item-key="Prod_Id"
          :headers="headers"
          :items="productslist"
          :items-per-page="5"
          class="elevation-1"
          :search="search"
          @click:row="onSelectRow"
          show-select
        >
          <template v-slot:[`item.Unit_Name`]="{ item }">
            <span>{{ item.Unit_Name === null ? '-' : item.Unit_Name }}</span>
          </template>
        </v-data-table>
      </v-card>
    </div>
    <!--DialogDetailProduct-->
    <v-dialog v-model="dialog.detailProduct" max-width="600">
      <v-card>
        <v-card-title>
          รายละเอียดสินค้า
        </v-card-title>
        <v-card-text>
          <div class="subtitle-1">รหัสสินค้า: {{ row.Prod_Id }}</div>
          <div class="subtitle-1">ชื่อ: {{ row.Prod_Name }}</div>
          <div class="subtitle-1">ยี่ห้อ: {{ row.Prod_Brand }}</div>
          <div class="subtitle-1">สี: {{ row.Prod_Color }}</div>
          <div class="subtitle-1">รายละเอียด: {{ row.Prod_Desc }}</div>
          <div class="subtitle-1">
            หน่วยนับ: {{ row.Unit_Name === null ? '-' : row.Unit_Name }}
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" outlined @click="cancel">
            กลับ
          </v-btn>
          <v-btn color="blue darken-1" outlined @click="editPD">
            แก้ไขข้อมูล
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- dialogAddWarehouse -->
    <v-dialog v-model="dialog.addProduct" max-width="600">
      <v-card>
        <v-card-title>
          เพิ่มสินค้า
        </v-card-title>
        <v-item-group>
          <v-form v-model="check">
            <v-text-field
              class="mx-8"
              outlined
              dense
              v-model="add.name"
              :rules="nameRules"
              label="ชื่อ"
              required
            ></v-text-field>
            <v-text-field
              class="mx-8"
              outlined
              dense
              v-model="add.brand"
              :rules="brandRules"
              label="ยี่ห้อ"
              required
            ></v-text-field>
            <v-text-field
              class="mx-8"
              outlined
              dense
              v-model="add.color"
              :rules="colorRules"
              label="สี"
              required
            ></v-text-field>
            <v-text-field
              class="mx-8"
              outlined
              dense
              v-model="add.desc"
              :rules="descRules"
              label="รายละเอียด"
              required
            ></v-text-field>
            <v-autocomplete
              class="mx-8"
              v-model="searchs.nameunits"
              :items="listunit"
              outlined
              dense
              color="blue-grey lighten-2"
              label="หน่วยนับ"
              item-text="Unit_Name"
              item-value="Unit_Id"
            >
              <template v-slot:item="data">
                <template v-if="typeof data.item !== 'object'">
                  <v-list-item-content v-text="data.item"></v-list-item-content>
                </template>
                <template v-else>
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="data.item.Unit_Name"
                    ></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="data.item.Unit_Id"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </template>
            </v-autocomplete>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn class="mb-5" color="red darken-1" @click="cancel" outlined>
                ยกเลิก
              </v-btn>
              <v-btn
                class="mr-5 mb-5"
                color="green darken-1"
                @click="addproduct"
                outlined
                :disabled="!check"
              >
                ยืนยัน
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-item-group>
      </v-card>
    </v-dialog>
    <!--DialogEditProduct-->
    <v-dialog v-model="dialog.editProduct" max-width="600">
      <v-card>
        <v-card-title>
          แก้ไขสินค้า
        </v-card-title>
        <v-item-group>
          <v-form v-model="validedit">
            <v-text-field
              class="mx-8"
              outlined
              dense
              v-model="edit.name"
              :rules="nameRules"
              label="ชื่อสินค้า"
              required
            ></v-text-field>
            <v-text-field
              class="mx-8"
              outlined
              dense
              v-model="edit.brand"
              :rules="brandRules"
              label="ยี่ห้อ"
              required
            ></v-text-field>
            <v-text-field
              class="mx-8"
              outlined
              dense
              v-model="edit.color"
              :rules="colorRules"
              label="สี"
              required
            ></v-text-field>
            <v-text-field
              class="mx-8"
              outlined
              dense
              v-model="edit.desc"
              :rules="descRules"
              label="รายละเอียด"
              required
            ></v-text-field>
            <v-autocomplete
              class="mx-8"
              v-model="searchs.nameunits"
              :items="listunit"
              outlined
              dense
              color="blue-grey lighten-2"
              label="หน่วยนับ"
              item-text="Unit_Name"
              item-value="Unit_Id"
            >
              <template v-slot:item="data">
                <template v-if="typeof data.item !== 'object'">
                  <v-list-item-content v-text="data.item"></v-list-item-content>
                </template>
                <template v-else>
                  <v-list-item-content>
                    <v-list-item-title
                      v-html="data.item.Unit_Name"
                    ></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="data.item.Unit_Id"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </template>
              </template>
            </v-autocomplete>
          </v-form>
        </v-item-group>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn class="mb-5" color="red darken-1" outlined @click="cancel">
            ยกเลิก
          </v-btn>
          <v-btn
            class="mr-6 mb-5"
            color="green darken-1"
            outlined
            @click="editproduct"
            :disabled="!validedit"
          >
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!--dialogDeleteProduct-->
    <v-dialog v-model="dialog.deleteProductAll" max-width="400">
      <v-card>
        <v-card-title class="headline">
          แจ้งเตือน
        </v-card-title>
        <v-card-text>
          <div class="subtitle-1">
            คุณต้องการลบข้อมูลที่เลือกหรือไม่
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            text
            @click="dialog.deleteProductAll = false"
          >
            ยกเลิก
          </v-btn>
          <v-btn color="green darken-1" text @click="deleteproductall">
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios';
import { CONFIG } from '../configs';
export default {
  name: 'SearchProduct',
  created() {
    this.$store.getters.currentCompa;
    console.log('compid', this.$store.getters.currentCompa);
    this.searchproducts();
  },

  methods: {
    searchPT() {
      this.showproducts();
    },
    onSelectRow(res) {
      console.log('@row', res);
      this.dialog.detailProduct = true;
      this.row = res;
      this.edit.name = res.Prod_Name;
      this.edit.brand = res.Prod_Brand;
      this.edit.color = res.Prod_Color;
      this.edit.desc = res.Prod_Desc;
      this.searchs.nameunits = res.Unit_Id;
    },
    refreshSE() {
      this.timeout = setInterval(() => {
        window.location.reload();
      }, 1000);
    },
    AddProducts() {
      this.dialog.addProduct = true;
      this.selectunit();
    },
    cancel() {
      this.dialog.addProduct = false;
      this.dialog.detailProduct = false;
      this.dialog.editProduct = false;
    },
    editPD() {
      this.dialog.editProduct = true;
      this.selectunit();
      this.dialog.detailProduct = false;
    },

    async searchproducts() {
      try {
        this.company.compid = this.$store.getters.currentCompa;
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/searchproducts`,
          this.company
        );
        if (!res.data.statusCode) {
          this.products = res.data;
          console.log('name', res.data);
        }
      } catch (err) {
        let { message } = err.response.data;
        this.sanckbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },

    async showproducts() {
      try {
        this.disable.new = true;
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/showproducts`,
          this.searchProduct
        );
        if (!res.data.statusCode) {
          this.productslist = res.data;
          console.log('productlist', res.data);
          this.show = true;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.sanckbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },

    async selectunit() {
      try {
        let res = await axios.get(`${CONFIG.BASEAPI}/adminns/selectunit`);
        if (!res.data.statusCode) {
          this.listunit = res.data;
          console.log('listunit', res.data);
        }
      } catch (err) {
        let { message } = err.response.data;
        this.sanckbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },

    async addproduct() {
      try {
        this.add.unit = this.searchs.nameunits;
        this.add.protid = this.searchProduct.typeid;
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/addproduct`,
          this.add
        );
        if (!res.data.statusCode) {
          if (res.data === 'OK') {
            console.log('Success', res.data);
            this.dialog.addProduct = false;
            this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
            this.snackbar.color = 'success';
            this.snackbar.visible = true;
            this.showproducts();
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.sanckbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },

    async editproduct() {
      try {
        this.edit.unit = this.searchs.nameunits;
        this.edit.prodid = this.row.Prod_Id;
        this.edit.protid = this.searchProduct.typeid;
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/editproduct`,
          this.edit
        );
        if (!res.data.statusCode) {
          if (res.data === 'OK') {
            console.log('Success', res.data);
            this.dialog.editProduct = false;
            this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
            this.snackbar.color = 'success';
            this.snackbar.visible = true;
            this.showproducts();
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.sanckbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },

    async deleteproductall() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/deleteproductall`,
          this.remove
        );
        if (res.data === 'OK') {
          console.log('Success');
          this.dialog.deleteProductAll = false;
          (this.remove.selected = []), this.showproducts();
          this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
          this.snackbar.color = 'success';
          this.snackbar.visible = true;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.sanckbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
  },

  data() {
    return {
      disable: {
        new: false,
      },
      searchProduct: {
        typeid: '',
      },
      row: {},
      dialog: {
        detailProduct: false,
        editProduct: false,
        addProduct: false,
        deleteProductAll: false,
      },
      products: [],
      productslist: [],
      search: '',
      prodtype: '',
      company: {
        compid: '',
      },
      show: false,
      validedit: false,
     
      add: {
        name: '',
        brand: '',
        color: '',
        desc: '',
        protid: '',
        unit: '',
        comp : this.$store.getters.currentCompa,
      },
      check: false,
      listunit: [],
      edit: {
        prodid: '',
        name: '',
        brand: '',
        color: '',
        desc: '',
        protid: '',
        unit: '',
      },
      delete: {
        prodid: '',
      },
      remove: {
        selected: [],
      },
      snackbar: {
        visible: false,
        color: '',
        text: '',
      },
      searchs: {
        nameunits: '',
      },
      headers: [
        {
          text: 'รหัสสินค้าสำเร็จรูป',
          align: 'center',
          sortable: false,
          value: 'Prod_Id',
        },
        { text: 'ชื่อ', value: 'Prod_Name' },
        { text: 'ยี่ห้อ', value: 'Prod_Brand' },
        { text: 'สี', value: 'Prod_Color' },
        { text: 'รายละเอียด', value: 'Prod_Desc' },
        { text: 'หน่วยนับ', value: 'Unit_Name' },
      ],
      nameRules: [
        (v) => !!v || 'กรุณากรอกชื่อ',
        (v) =>
          /^[ก-๙a-zA-Z]+(?:[ _-][ก-๙a-zA-Z]+)*$/.test(v) ||
          'กรุณาใช้ตัวอักษรภาษาไทยและอังกฤษเท่านั้น และห้ามเว้นตัวอักษร',
      ],
      brandRules: [
        (v) => !!v || 'กรุณากรอกยี่ห้อ',
        (v) =>
          /^[ก-๙a-zA-Z]+(?:[ _-][ก-๙a-zA-Z]+)*$/.test(v) ||
          'กรุณาใช้ตัวอักษรภาษาไทยและอังกฤษเท่านั้น และห้ามเว้นตัวอักษร',
      ],
      colorRules: [
        (v) => !!v || 'กรุณากรอกสี',
      ],
      descRules: [
        (v) => !!v || 'กรุณากรอกรายละเอียด',
        (v) =>
          /^[ก-๙a-zA-Z]+(?:[ _-][ก-๙a-zA-Z]+)*$/.test(v) ||
          'กรุณาใช้ตัวอักษรภาษาไทยและอังกฤษเท่านั้น และห้ามเว้นตัวอักษร',
      ],
    };
  },
};
</script>

<style></style>
