<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color || null"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <div class="display-1 mb-8">
      รายชื่อบริษัทที่ยืนยัน
    </div>
    <v-btn
      v-if="selected.length === 1"
      color="red darken-1"
      text
      @click="
        multiple = false;
        dialog.remove = true;
      "
    >
      ลบรายชื่อ
    </v-btn>
    <v-btn
      v-if="selected.length > 1"
      color="red darken-1"
      text
      @click="
        multiple = true;
        dialog.remove = true;
      "
    >
      ลบรายชื่อที่เลือก
    </v-btn>
    <v-data-table
      v-model="selected"
      item-key="Comp_Id"
      :headers="headers"
      :items="companys"
      :items-per-page="5"
      class="elevation-1"
      @click:row="onSelectRow"
      show-select
    >
      <template v-slot:[`item.Comp_Status`]="{ item }">
        <span>{{
          item.Comp_Status == 1 ? 'เปิดใช้งาน' : 'ระงับชั่วคราว'
        }}</span>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog.desc" max-width="600">
      <v-card>
        <v-card-title class="headline">
          รายละเอียดบริษัท
        </v-card-title>
        <v-card-text>
          <div class="subtitle-1">ชื่อบริษัท: {{ row.Comp_Name }}</div>
          <div class="subtitle-1">ที่อยู่บริษัท: {{ row.Comp_Address }}</div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="
              dialog.edit = true;
              dialog.desc = false;
            "
          >
            แก้ไขข้อมูล
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="
              dialog.setting = true;
              dialog.desc = false;
            "
          >
            ตั้งค่า
          </v-btn>
          <v-btn color="blue darken-1" text @click="onAdmin">
            รายชื่อผู้ที่เกี่ยวข้อง
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog.remove" max-width="500px">
      <v-card>
        <v-card-title class="headline">
          ลบรายชื่อ
        </v-card-title>
        <v-card-text>
          <v-form v-model="isValid.remove">
            <v-textarea
              v-if="multiple === false"
              class="mx-8"
              v-model="remove.note"
              :rules="nameRules"
              label="หมายเหตุการลบบริษัท"
              color="amber darken-1"
              outlined
              required
            ></v-textarea>
            <v-switch
              v-model="remove.onStatus"
              label="ระงับถาวร"
              color="amber darken-1"
            ></v-switch>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog.remove = false">
            ยกเลิก
          </v-btn>
          <v-btn
            color="green darken-1"
            text
            :disabled="!isValid.remove"
            @click="removeCompany"
          >
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog.edit" max-width="600px">
      <v-card>
        <v-card-title class="headline">
          แก้ไขข้อมูล
        </v-card-title>
        <v-card-text>
          <v-form v-model="isValid.edit">
            <v-text-field
              class="mx-8"
              v-model="edit.company"
              :rules="nameRules"
              label="ชื่อบริษัท"
              prepend-icon="mdi-city-variant"
              color="amber darken-1"
              dense
              outlined
            ></v-text-field>
            <v-text-field
              class="mx-8"
              v-model="edit.companyAddress"
              :rules="nameRules"
              label="ที่อยู่บริษัท"
              prepend-icon="mdi-map-marker"
              color="amber darken-1"
              dense
              outlined
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog.edit = false">
            ยกเลิก
          </v-btn>
          <v-btn
            color="green darken-1"
            text
            :disabled="!isValid.edit"
            @click="editCompany"
          >
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog.setting" max-width="600px">
      <v-card>
        <v-card-title class="headline">
          ตั้งค่าบริษัท
        </v-card-title>
        <v-card-text>
          <v-form v-model="isValid.setting">
            <v-text-field
              class="mx-8"
              v-model.number="setting.maxAdmin"
              :rules="numberRules"
              label="จำนวนสูงสุดของผู้ดูแล"
              prepend-icon="mdi-city-variant"
              color="amber darken-1"
              type="number"
              dense
              outlined
              required
            ></v-text-field>
            <v-text-field
              class="mx-8"
              v-model.number="setting.maxUser"
              :rules="numberRules"
              label="จำนวนสูงสุดของพนักงาน"
              prepend-icon="mdi-city-variant"
              color="amber darken-1"
              type="number"
              dense
              outlined
              required
            ></v-text-field>
            <v-switch
              v-model="setting.onStatus"
              label="เปิดใช้งาน"
              color="amber darken-1"
            ></v-switch>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog.setting = false">
            ยกเลิก
          </v-btn>
          <v-btn
            color="amber darken-1"
            text
            :disabled="!isValid.setting"
            @click="settingCompany"
          >
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios';
import SpAdminService from '../services/SpAdminService';
import { CONFIG } from '../configs';
export default {
  name: 'TableCompany',
  created() {
    this.getCompany();
  },
  beforeDestroy() {
    clearInterval(this.timeout);
  },
  data() {
    return {
      multiple: false,
      selected: [],
      dialog: {
        desc: false,
        remove: false,
        edit: false,
        setting: false,
      },
      snackbar: {
        visible: false,
        color: '',
        text: '',
      },
      isValid: {
        remove: false,
        edit: false,
        setting: false,
      },
      remove: {
        note: '',
        email: '',
        onStatus: false,
        status: 3,
        companyId: '',
        arr: [],
      },
      edit: {
        company: '',
        companyAddress: '',
        companyId: '',
      },
      setting: {
        maxAdmin: '',
        maxUser: '',
        onStatus: true,
        status: 1,
        companyId: '',
      },
      headers: [
        {
          text: 'ชื่อบริษัท',
          align: 'start',
          sortable: false,
          value: 'Comp_Name',
        },
        { text: 'ที่อยู่บริษัท', value: 'Comp_Address' },
        { text: 'สถานะ', value: 'Comp_Status' },
      ],
      companys: [],
      row: {},
      nameRules: [(v) => !!v || 'กรุณากรอกข้อมูล'],
      numberRules: [(v) => v > 0 || 'กรุณากรอกจำนวน'],
      timeout: null,
    };
  },
  methods: {
    async getCompany() {
      try {
        let res = await SpAdminService.getCompany();
        console.log(res.data);
        if (!res.data.statusCode) {
          this.companys = res.data;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async removeCompany() {
      try {
        this.remove.arr = this.selected;
        this.remove.companyId = this.row.Comp_Id;
        if (this.remove.onStatus) {
          this.remove.status = 4;
        } else {
          this.setting.status = 3;
        }
        let res = await axios.post(
          `${CONFIG.BASEAPI}/comps/companyr`,
          this.remove
        );
        console.log(res.data);
        if (!res.data.statusCode) {
          if (res.data === 'OK') {
            this.dialog.remove = false;
            this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
            this.snackbar.color = 'success';
            this.snackbar.visible = true;
            this.timeout = setInterval(() => {
              window.location.reload();
            }, 1000);
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async editCompany() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/comps/companye`,
          this.edit
        );
        console.log(res.data);
        if (!res.data.statusCode) {
          if (res.data === 'OK') {
            this.dialog.edit = false;
            this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
            this.snackbar.color = 'success';
            this.snackbar.visible = true;
            this.timeout = setInterval(() => {
              window.location.reload();
            }, 1000);
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async settingCompany() {
      try {
        this.setting.companyId = this.row.Comp_Id;
        if (this.setting.onStatus) {
          this.setting.status = 1;
        } else {
          this.setting.status = 2;
        }
        console.log(this.setting);
        let res = await axios.post(
          `${CONFIG.BASEAPI}/comps/companyes`,
          this.setting
        );
        console.log(res.data);
        if (!res.data.statusCode) {
          if (res.data === 'OK') {
            this.dialog.setting = false;
            this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
            this.snackbar.color = 'success';
            this.snackbar.visible = true;
            this.timeout = setInterval(() => {
              window.location.reload();
            }, 1000);
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    onSelectRow(rec) {
      this.dialog.desc = true;
      this.row = rec;
      this.edit.companyId = rec.Comp_Id;
      this.edit.company = rec.Comp_Name;
      this.edit.companyAddress = rec.Comp_Address;
      this.setting.maxAdmin = rec.Comp_Max_Admin;
      this.setting.maxUser = rec.Comp_Max_User;
      rec.Comp_Status != 1
        ? (this.setting.onStatus = false)
        : (this.setting.onStatus = true);
      console.log(rec);
      this.$store.commit('setRow', rec);
      this.$store.commit('setComp', rec.Comp_Id);
    },
    onRemove() {
      this.dialog.remove = false;
      this.snackbar.visible = true;
    },
    onEdit() {
      this.dialog.edit = false;
      this.snackbar.visible = true;
    },
    onSetting() {
      this.dialog.setting = false;
      this.snackbar.visible = true;
    },
    onAdmin() {
      this.dialog.desc = false;
      this.$router.push({ path: '/sa/company/info' });
    },
  },
};
</script>

<style></style>
