<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color || null"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <v-btn
      v-if="selected.length === 1"
      color="red darken-1"
      text
      @click="
        multiple = false;
        dialog.remove = true;
      "
    >
      ลบรายชื่อ
    </v-btn>
    <v-btn
      v-if="selected.length > 1"
      color="red darken-1"
      text
      @click="
        multiple = true;
        dialog.remove = true;
      "
    >
      ลบรายชื่อที่เลือก
    </v-btn>
    <v-data-table
      v-model="selected"
      :headers="headers"
      :items="companys"
      :items-per-page="5"
      item-key="Admin_Id"
      class="elevation-1"
      @click:row="onSelectRow"
      show-select
    >
      <template v-slot:[`item.Admin_Name`]="{ item }">
        <span>{{ item.Admin_Name }} {{ item.Admin_Surname }}</span>
      </template>
      <!-- <template v-slot:[`item.Admin_Status`]="{ item }">
        <span>{{
          item.Admin_Status == 1 ? 'เปิดใช้งาน' : 'ระงับชั่วคราว'
        }}</span>
      </template> -->
    </v-data-table>
    <v-dialog v-model="dialog.desc" max-width="600">
      <v-card>
        <v-card-title class="headline">
          รายละเอียดผู้ประกอบการ
        </v-card-title>
        <v-card-text>
          <div class="subtitle-1">
            ชื่อ-นามสกุล: {{ row.Admin_Name }} {{ row.Admin_Surname }}
          </div>
          <div class="subtitle-1">อีเมล: {{ row.Admin_Email }}</div>
          <div class="subtitle-1">เบอร์โทรศัพท์: {{ row.Admin_Tel }}</div>
          <div class="subtitle-1">
            เลขประจำตัวผู้เสียภาษี: {{ row.Admin_TaxNo }}
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <!-- <v-btn
            color="red darken-1"
            text
            @click="
              dialog.remove = true;
              dialog.desc = false;
            "
          >
            ลบรายชื่อ
          </v-btn> -->
          <v-btn
            color="blue darken-1"
            outlined
            @click="
              dialog.edit = true;
              dialog.desc = false;
            "
          >
            แก้ไขข้อมูล
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog.remove" max-width="400px">
      <v-card>
        <v-card-title class="headline">
          ลบรายชื่อ
        </v-card-title>
        <v-card-text>
          <div class="subtitle-1">
            คุณต้องการยืนยันการลบหรือไม่
          </div>
          <!-- <v-form v-model="isValid.remove">
            <v-textarea
              v-if="multiple === false"
              class="mx-8"
              v-model="remove.note"
              :rules="nameRules"
              label="หมายเหตุการลบ"
              color="amber darken-1"
              outlined
              required
            ></v-textarea>
            <v-switch
              v-model="remove.onStatus"
              label="ระงับถาวร"
              color="amber darken-1"
            ></v-switch>
          </v-form> -->
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog.remove = false">
            ยกเลิก
          </v-btn>
          <v-btn color="green darken-1" outlined @click="removeAdmin">
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog.edit" max-width="600px">
      <v-card>
        <v-card-title class="headline">
          แก้ไขข้อมูล
        </v-card-title>
        <v-card-text>
          <v-form v-model="isValid.edit">
            <v-text-field
              class="mx-8"
              v-model="edit.name"
              label="ชื่อผู้ประกอบการ"
              prepend-icon="mdi-account-tie"
              color="amber darken-1"
              dense
              outlined
            ></v-text-field>
            <v-text-field
              class="mx-8"
              v-model="edit.surname"
              label="นามสกุลผู้ประกอบการ"
              prepend-icon="mdi-account-tie"
              color="amber darken-1"
              dense
              outlined
            ></v-text-field>
            <v-text-field
              class="mx-8"
              v-model="edit.tel"
              label="เบอร์โทรศัพท์"
              type="tel"
              prepend-icon="mdi-phone"
              color="amber darken-1"
              dense
              outlined
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog.edit = false">
            ยกเลิก
          </v-btn>
          <v-btn
            color="amber darken-1"
            text
            :disabled="!isValid.edit"
            @click="editAdmin"
          >
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog.setting" max-width="600px">
      <v-card>
        <v-card-title class="headline">
          ตั้งค่าบริษัท
        </v-card-title>
        <v-card-text>
          <v-form v-model="isValid.setting">
            <v-text-field
              class="mx-8"
              v-model.number="setting.maxAdmin"
              :rules="numberRules"
              label="จำนวนสูงสุดของผู้ดูแล"
              prepend-icon="mdi-city-variant"
              color="amber darken-1"
              type="number"
              dense
              outlined
              required
            ></v-text-field>
            <v-text-field
              class="mx-8"
              v-model.number="setting.maxUser"
              :rules="numberRules"
              label="จำนวนสูงสุดของพนักงาน"
              prepend-icon="mdi-city-variant"
              color="amber darken-1"
              type="number"
              dense
              outlined
              required
            ></v-text-field>
            <v-switch
              v-model="setting.onStatus"
              label="เปิดใช้งาน"
              color="amber darken-1"
            ></v-switch>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog.setting = false">
            ยกเลิก
          </v-btn>
          <v-btn
            color="amber darken-1"
            text
            :disabled="!isValid.setting"
            @click="settingAdmin"
          >
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import { CONFIG } from '../configs';
export default {
  name: 'TableAdmin',
  created() {
    this.comp = this.$store.getters.currentComp;
    this.getAdmin();
  },
  beforeDestroy() {
    clearInterval(this.timeout);
  },
  data() {
    return {
      multiple: false,
      fetch: {
        compId: this.$store.getters.currentComp,
      },
      dialog: {
        desc: false,
        remove: false,
        edit: false,
        setting: false,
      },
      snackbar: {
        visible: false,
        color: '',
        text: '',
      },
      isValid: {
        remove: false,
        edit: false,
        setting: false,
      },
      remove: {
        note: '',
        onStatus: false,
        status: 4,
        companyId: '',
        adminId: '',
        arr: [],
      },
      edit: {
        name: '',
        surname: '',
        tel: '',
        headNo: '',
        companyId: '',
        adminId: '',
      },
      setting: {
        maxAdmin: null,
        maxUser: null,
        onStatus: true,
        status: 1,
        companyId: '',
        adminId: '',
      },
      role: this.$store.getters.currentUser,
      headers: [
        { text: 'ชื่อ-นามสกุล', value: 'Admin_Name' },
        { text: 'อีเมล', value: 'Admin_Email' },
        { text: 'เบอร์โทรศัพท์', value: 'Admin_Tel' },
        { text: 'วันที่เข้าใช้งาน', value: 'Start_Date' },
        // { text: 'สถานะ', value: 'Admin_Status' },
      ],
      companys: [],
      row: {},
      nameRules: [(v) => !!v || 'กรุณากรอกหมายเหตุ'],
      numberRules: [(v) => v > 0 || 'กรุณากรอกจำนวน'],
      timeout: null,
      selected: [],
    };
  },
  methods: {
    async getAdmin() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/admins/admin`,
          this.fetch
        );
        if (!res.data.statusCode) {
          res.data.forEach((i) => {
            i.Start_Date = moment(i.Start_Date).format('DD/MM/YYYY');
          });
          this.companys = res.data;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async removeAdmin() {
      try {
        this.remove.arr = this.selected;
        console.log(this.remove);
        if (this.remove.onStatus) {
          // 0; close, 1; on, 2; off, 3; del, 4; del+ban
          this.remove.status = 4;
        } else {
          this.setting.status = 3;
        }
        let res = await axios.post(
          `${CONFIG.BASEAPI}/admins/adminr`,
          this.remove
        );
        console.log(res.data);
        if (!res.data.statusCode && res.data === 'OK') {
          this.dialog.remove = false;
          this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
          this.snackbar.color = 'success';
          this.snackbar.visible = true;
          this.timeout = setInterval(() => {
            window.location.reload();
          }, 1000);
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async editAdmin() {
      try {
        this.edit.companyId = this.row.Comp_Id;
        this.edit.adminId = this.row.Admin_Id;
        console.log(this.edit);
        let res = await axios.post(
          `${CONFIG.BASEAPI}/admins/admine`,
          this.edit
        );
        console.log(res.data);
        if (!res.data.statusCode && res.data === 'OK') {
          this.dialog.edit = false;
          this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
          this.snackbar.color = 'success';
          this.snackbar.visible = true;
          this.timeout = setInterval(() => {
            window.location.reload();
          }, 1000);
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async settingAdmin() {
      try {
        this.setting.companyId = this.row.Comp_Id;
        this.setting.adminId = this.row.Admin_Id;
        if (this.setting.onStatus === false) {
          this.setting.status = 2;
        } else {
          this.setting.status = 1;
        }
        console.log(this.setting);
        let res = await axios.post(
          `${CONFIG.BASEAPI}/admins/admines`,
          this.setting
        );
        console.log(res.data);
        if (!res.data.statusCode && res.data === 'OK') {
          this.dialog.setting = false;
          this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
          this.snackbar.color = 'success';
          this.snackbar.visible = true;
          this.timeout = setInterval(() => {
            window.location.reload();
          }, 1000);
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    onSelectRow(rec) {
      this.dialog.desc = true;
      this.row = rec;
      this.edit.company = rec.Comp_Name;
      this.edit.name = rec.Admin_Name;
      this.edit.surname = rec.Admin_Surname;
      this.edit.companyAddress = rec.Comp_Address;
      this.edit.tel = rec.Admin_Tel;
      this.edit.headNo = rec.Admin_TaxNo;
      console.log(rec);
    },
    onRemove() {
      this.dialog.remove = false;
      this.snackbar.visible = true;
    },
    onEdit() {
      this.dialog.edit = false;
      this.snackbar.visible = true;
    },
    onSetting() {
      this.dialog.setting = false;
      this.snackbar.visible = true;
    },
  },
};
</script>

<style></style>
