<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color || null"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <div class="display-1 mb-8">
      รายละเอียดบริษัท
    </div>
    <div class="subtitle-1">ชื่อบริษัท: {{ row.Comp_Name }}</div>
    <div class="subtitle-1">ที่อยู่บริษัท: {{ row.Comp_Address }}</div>
    <v-tabs v-model="tab" align-with-title grow>
      <v-tabs-slider color="yellow"></v-tabs-slider>
      <v-tab v-for="item in items" :key="item">
        {{ item }}
      </v-tab>
    </v-tabs>
    <v-tabs-items v-model="tab">
      <v-tab-item v-for="(item, index) in items" :key="index">
        <v-card v-if="index === 0" flat>
          <table-admin></table-admin>
        </v-card>
        <v-card v-if="index === 1" flat>
          <table-user></table-user>
        </v-card>
      </v-tab-item>
    </v-tabs-items>
    <v-dialog v-model="dialog.desc" max-width="600">
      <v-card>
        <v-card-title class="headline">
          รายละเอียดบริษัท
        </v-card-title>
        <v-card-text>
          <div class="subtitle-1">ชื่อบริษัท: {{ row.Comp_Name }}</div>
          <div class="subtitle-1">ที่อยู่บริษัท: {{ row.Comp_Address }}</div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            text
            @click="
              dialog.remove = true;
              dialog.desc = false;
            "
          >
            ลบบริษัท
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="
              dialog.edit = true;
              dialog.desc = false;
            "
          >
            แก้ไขข้อมูล
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="
              dialog.setting = true;
              dialog.desc = false;
            "
          >
            ตั้งค่า
          </v-btn>
          <v-btn color="blue darken-1" text @click="onAdmin">
            รายชื่อผู้ประกอบการ
          </v-btn>
          <v-btn color="blue darken-1" text @click="onUser">
            รายชื่อพนักงาน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog.remove" max-width="600px">
      <v-card>
        <v-card-title class="headline">
          ลบรายชื่อ
        </v-card-title>
        <v-card-text>
          <v-form v-model="isValid.remove">
            <v-textarea
              class="mx-8"
              v-model="remove.note"
              :rules="nameRules"
              label="หมายเหตุการลบบริษัท"
              color="amber darken-1"
              outlined
              required
            ></v-textarea>
            <v-switch
              v-model="remove.onStatus"
              label="ระงับถาวร"
              color="amber darken-1"
            ></v-switch>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog.remove = false">
            ยกเลิก
          </v-btn>
          <v-btn
            color="amber darken-1"
            text
            :disabled="!isValid.remove"
            @click="removeCompany"
          >
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog.edit" max-width="600px">
      <v-card>
        <v-card-title class="headline">
          แก้ไขข้อมูล
        </v-card-title>
        <v-card-text>
          <v-form v-model="isValid.edit">
            <v-text-field
              class="mx-8"
              v-model="edit.company"
              label="ชื่อบริษัท"
              prepend-icon="mdi-city-variant"
              color="amber darken-1"
              dense
              outlined
            ></v-text-field>
            <v-text-field
              class="mx-8"
              v-model="edit.companyAddress"
              label="ที่อยู่บริษัท"
              prepend-icon="mdi-map-marker"
              color="amber darken-1"
              dense
              outlined
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog.edit = false">
            ยกเลิก
          </v-btn>
          <v-btn
            color="amber darken-1"
            text
            :disabled="!isValid.edit"
            @click="editCompany"
          >
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog.setting" max-width="600px">
      <v-card>
        <v-card-title class="headline">
          ตั้งค่าบริษัท
        </v-card-title>
        <v-card-text>
          <v-form v-model="isValid.setting">
            <v-text-field
              class="mx-8"
              v-model.number="setting.maxAdmin"
              :rules="numberRules"
              label="จำนวนสูงสุดของผู้ดูแล"
              prepend-icon="mdi-city-variant"
              color="amber darken-1"
              type="number"
              dense
              outlined
              required
            ></v-text-field>
            <v-text-field
              class="mx-8"
              v-model.number="setting.maxUser"
              :rules="numberRules"
              label="จำนวนสูงสุดของพนักงาน"
              prepend-icon="mdi-city-variant"
              color="amber darken-1"
              type="number"
              dense
              outlined
              required
            ></v-text-field>
            <v-switch
              v-model="setting.onStatus"
              label="เปิดใช้งาน"
              color="amber darken-1"
            ></v-switch>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog.setting = false">
            ยกเลิก
          </v-btn>
          <v-btn
            color="amber darken-1"
            text
            :disabled="!isValid.setting"
            @click="settingCompany"
          >
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios';

import SpAdminService from '../services/SpAdminService';
import TableAdmin from '../components/TableAdmin';
import TableUser from '../components/TableUser';
import { CONFIG } from '../configs';
export default {
  name: 'TableCompanyInfo',
  components: { TableAdmin, TableUser },
  created() {
    this.row = this.$store.getters.currentRow;
  },
  beforeDestroy() {
    clearInterval(this.timeout);
  },
  data() {
    return {
      tab: null,
      items: ['ผู้ดูแล', 'พนักงาน'],
      dialog: {
        desc: false,
        remove: false,
        edit: false,
        setting: false,
      },
      snackbar: {
        visible: false,
        color: '',
        text: '',
      },
      isValid: {
        remove: false,
        edit: false,
        setting: false,
      },
      remove: {
        note: '',
        onStatus: false,
        status: 4,
        companyId: '',
        adminId: '',
      },
      edit: {
        company: '',
        name: '',
        surname: '',
        companyAddress: '',
        tel: '',
        headNo: '',
        companyId: '',
        adminId: '',
      },
      setting: {
        maxAdmin: null,
        maxUser: null,
        onStatus: true,
        status: 1,
        companyId: '',
        adminId: '',
      },
      role: this.$store.getters.currentUser,
      headers: [
        {
          text: 'ชื่อบริษัท',
          align: 'start',
          sortable: false,
          value: 'Comp_Name',
        },
        { text: 'ที่อยู่บริษัท', value: 'Comp_Address' },
        { text: 'สถานะ', value: 'Comp_Status' },
      ],
      companys: [],
      row: {},
      nameRules: [(v) => !!v || 'กรุณากรอกหมายเหตุ'],
      numberRules: [(v) => v > 0 || 'กรุณากรอกจำนวน'],
      timeout: null,
    };
  },
  methods: {
    async getCompany() {
      try {
        let res = await SpAdminService.getCompany();
        console.log(res.data);
        if (!res.data.statusCode) {
          this.companys = res.data;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async removeCompany() {
      try {
        this.remove.companyId = this.row.Comp_Id[0];
        this.remove.adminId = this.row.Admin_Id[0];
        if (this.remove.onStatus === true) {
          this.remove.status = 3;
        } else {
          this.setting.status = 4;
        }
        console.log(this.remove);
        let res = await axios.post(
          `${CONFIG.BASEAPI}/comps/companyr`,
          this.remove
        );
        console.log(res.data);
        if (!res.data.statusCode) {
          if (res.data === 'OK') {
            this.dialog.remove = false;
            this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
            this.snackbar.color = 'success';
            this.snackbar.visible = true;
            this.timeout = setInterval(() => {
              window.location.reload();
            }, 1000);
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async editCompany() {
      try {
        this.edit.companyId = this.row.Comp_Id[0];
        this.edit.adminId = this.row.Admin_Id[0];
        console.log(this.edit);
        let res = await axios.post(
          `${CONFIG.BASEAPI}/comps/companye`,
          this.edit
        );
        console.log(res.data);
        if (!res.data.statusCode) {
          if (res.data === 'OK') {
            this.dialog.edit = false;
            this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
            this.snackbar.color = 'success';
            this.snackbar.visible = true;
            this.timeout = setInterval(() => {
              window.location.reload();
            }, 1000);
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async settingCompany() {
      try {
        this.setting.companyId = this.row.Comp_Id[0];
        this.setting.adminId = this.row.Admin_Id[0];
        if (this.setting.onStatus === false) {
          this.setting.status = 2;
        } else {
          this.setting.status = 1;
        }
        console.log(this.setting);
        let res = await axios.post(
          `${CONFIG.BASEAPI}/comps/companyes`,
          this.setting
        );
        console.log(res.data);
        if (!res.data.statusCode) {
          if (res.data === 'OK') {
            this.dialog.setting = false;
            this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
            this.snackbar.color = 'success';
            this.snackbar.visible = true;
            this.timeout = setInterval(() => {
              window.location.reload();
            }, 1000);
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    onSelectRow(rec) {
      this.dialog.desc = true;
      this.row = rec;
      this.edit.company = rec.Comp_Name;
      this.edit.name = rec.Admin_Name;
      this.edit.surname = rec.Admin_Surname;
      this.edit.companyAddress = rec.Comp_Address;
      this.edit.tel = rec.Admin_Tel;
      this.edit.headNo = rec.Admin_TaxNo;
      console.log(rec);
    },
    onRemove() {
      this.dialog.remove = false;
      this.snackbar.visible = true;
    },
    onEdit() {
      this.dialog.edit = false;
      this.snackbar.visible = true;
    },
    onSetting() {
      this.dialog.setting = false;
      this.snackbar.visible = true;
    },
    onAdmin() {
      this.dialog.desc = false;
      this.$store.commit('setComp', this.row.Comp_Id);
      this.$router.push({ path: '/admin' });
    },
    onUser() {
      this.dialog.desc = false;
      this.$store.commit('setAdmin', this.row.Admin_Id);
      this.$router.push({ path: '/user' });
    },
  },
};
</script>

<style></style>
