<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color || null"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <!--header-->
    <div class="display-1 mb-8">
      คลังวัตถุดิบ
    </div>
    <!--buttonAddWarehouse-->
    <div>
      <v-btn color="green darken-1" text @click="AddWare">
        เพิ่ม
      </v-btn>
      <v-btn
        v-if="remove.selected.length >= 1"
        color="red darken-1"
        text
        @click="dialog.deleteAll = true"
      >
        ลบรายชื่อที่เลือก
      </v-btn>
    </div>
    <!--DataTables-->
    <v-card>
      <v-card-title>
        คลังสินค้า
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          outlined
          dense
          hide-details
        ></v-text-field>
      </v-card-title>

      <v-data-table
        v-model="remove.selected"
        item-key="Ware_Id"
        :headers="headers"
        :items="ware"
        :items-per-page="5"
        class="elevation-1"
        :search="search"
        @click:row="onSelectRow"
        show-select
      >
      </v-data-table>
    </v-card>
    <!--dialogDetailDetailWarehouse-->
    <v-dialog v-model="dialog.detailWare" max-width="600">
      <v-card>
        <v-card-title class="">รายละเอียดคลังวัตถุดิบ</v-card-title>
        <v-card-text>
          <div class="subtitle-1">รหัสคลัง: {{ row.Ware_Id }}</div>
          <div class="subtitle-1">ชื่อ: {{ row.Ware_Name }}</div>
          <div class="subtitle-1">รายละเอียด: {{ row.Ware_Desc }}</div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" outlined @click="cancel">
            กลับ
          </v-btn>
          <v-btn outlined color="primary darken-1" @click="showeditwarehouse">
            แก้ไขข้อมูล
          </v-btn>
          <v-btn outlined color="green darken-1" @click="showestorage">
            ดูที่จัดเก็บ
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- dialogAddWarehouse -->
    <v-dialog v-model="dialog.addWare" max-width="600">
      <v-card>
        <v-card-title>
          เพิ่มคลังวัตถุดิบ
        </v-card-title>
        <v-item-group>
          <v-form>
            <v-text-field
              class="mx-8"
              outlined
              dense
              v-model="add.name"
              :rules="nameRules"
              label="คลังวัตถุดิบ"
              required
            ></v-text-field>
            <v-text-field
              class="mx-8"
              outlined
              dense
              v-model="add.desc"
              :rules="descRules"
              label="รายละเอียด"
              required
            ></v-text-field>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn class="mb-5" color="red darken-1" @click="cancel" outlined>
                ยกเลิก
              </v-btn>
              <v-btn
                class="mr-6 mb-5"
                color="green darken-1"
                @click="addware"
                outlined
                :disabled="!add.name || !add.desc"
              >
                ยืนยัน
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-item-group>
      </v-card>
    </v-dialog>
    <!--dialogEditWarehouse-->
    <v-dialog v-model="dialog.editWare" max-width="600">
      <v-card>
        <v-card-title>
          แก้ไขคลังวัตถุดิบ
        </v-card-title>
        <v-item-group>
          <v-form v-model="validedit">
            <v-text-field
              class="mx-8"
              outlined
              dense
              v-model="edit.name"
              :rules="nameRules"
              label="คลังวัตถุดิบ"
              required
            ></v-text-field>
            <v-text-field
              class="mx-8"
              outlined
              dense
              v-model="edit.desc"
              :rules="descRules"
              label="รายละเอียด"
              required
            ></v-text-field>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn class="mb-5" color="red darken-1" @click="cancel" outlined>
                ยกเลิก
              </v-btn>
              <v-btn
                class="mr-6 mb-5"
                color="green darken-1"
                @click="editware"
                :disabled="!edit.name || !edit.desc"
                outlined
              >
                ยืนยัน
              </v-btn>
            </v-card-actions>
          </v-form>
        </v-item-group>
      </v-card>
    </v-dialog>
    <!--dialogDeleteAllWarehouse-->
    <v-dialog v-model="dialog.deleteAll" max-width="400">
      <v-card>
        <v-card-title class="headline">
          แจ้งเตือน
        </v-card-title>
        <v-card-text>
          <div class="subtitle-1">
            คุณต้องการลบคลังวัตถุดิบนี้ออกจากระบบหรือไม่
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog.deleteAll = false">
            ยกเลิก
          </v-btn>
          <v-btn color="green darken-1" text @click="deletewareall">
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios';
import { CONFIG } from '../configs';
export default {
  name: 'Warehouse',

  created() {
    this.listware();
    this.id = this.$store.getters.currentId;
    console.log(this.id);
    this.$store.getters.currentCompa;
    console.log(this.$store.getters.currentCompa);
  },

  methods: {
    AddWare() {
      this.dialog.addWare = true;
    },

    onSelectRow(rec) {
      this.dialog.detailWare = true;
      this.row = rec;
      console.log('onclickRow', this.row);
      this.edit.name = rec.Ware_Name;
      this.edit.desc = rec.Ware_Desc;
    },
    cancel() {
      this.dialog.addWare = false;
      this.dialog.editWare = false;
      this.dialog.detailWare = false;
    },
    showeditwarehouse() {
      this.dialog.editWare = true;
      this.dialog.detailWare = false;
    },

    showestorage() {
      this.dialog.detailWare = false;
      this.$store.commit('isUsestore', this.row.Ware_Id);
      console.log('currentWare', this.$store.getters.currentWare);
      this.$router.push({ name: 'ListStorage' });
    },
    async listware() {
      try {
        let res = await axios.get(
          `${CONFIG.BASEAPI}/adminns/listware`
        );
        if (!res.data.statusCode) {
          this.ware = res.data;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },

    async addware() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/addware`,
          this.add
        );
        if (res.data === 'OK') {
          console.log('Success');
          this.dialog.addWare = false;
          this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
          this.snackbar.color = 'success';
          this.snackbar.visible = true;
          this.timeout = setInterval(() => {
            window.location.reload();
          }, 1000);
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },

    async editware() {
      try {
        this.edit.wareid = this.row.Ware_Id;
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/editware`,
          this.edit
        );
        console.log('object', res.data);
        if (res.data === 'OK') {
          this.dialog.editWare = false;
          console.log('Success');
          this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
          this.snackbar.color = 'success';
          this.snackbar.visible = true;
          this.listware();
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },

    async deletewareall() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/adminns/deletewareall`,
          this.remove
        );
        if (res.data === 'OK') {
          console.log('Success');
          this.dialog.deleteAll = false;
          (this.remove.selected = []), this.listware();
          this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
          this.snackbar.color = 'success';
          this.snackbar.visible = true;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
  },

  data() {
    return {   
      search: '',
      ware: [],
      row: {},
      validedit: false,
      dialog: {
        detailWare: false,
        addWare: false,
        editWare: false,
        deleteAll: false,
      },
      add: {
        name: '',
        desc: '',
        comp: this.$store.getters.currentCompa
      },
      edit: {
        wareid: '',
        name: '',
        desc: '',
      },
      remove: {
        selected: [],
      },
      snackbar: {
        visible: false,
        color: '',
        text: '',
      },

      headers: [
        {
          text: 'รหัสคลัง',
          align: 'center',
          sortable: false,
          value: 'Ware_Id',
        },
        { text: 'คลังวัตถุดิบ', value: 'Ware_Name' },
        { text: 'รายละเอียด', value: 'Ware_Desc' },
      ],

      nameRules: [
        (v) => !!v || 'กรุณากรอกชื่อ',
        (v) =>
          /^[A-Za-zก-๙]+(?:[ _-][A-Za-zก-๙]+)*$/.test(v) ||
          'กรุณาใช้ตัวอักษรภาษาไทยและภาษาอังกฤษเท่านั้น และห้ามเว้นตัวอักษร',
      ],
      descRules: [
        (v) => !!v || 'กรุณากรอกรายละเอียด',
        (v) =>
          /^[ก-๙a-zA-Z]+(?:[ _-][ก-๙a-zA-Z]+)*$/.test(v) ||
          'กรุณาใช้ตัวอักษรภาษาไทยและภาษาอังกฤษเท่านั้น และห้ามเว้นตัวอักษร',
      ],
    };
  },
};
</script>
<style></style>
