<template>
  <v-container fluid>
    <TableGoods></TableGoods>
  </v-container>
</template>

<script>
import TableGoods from '../../components/admin.product/TableGoods.vue';
export default {
  name: 'ProductCate',
  components: { TableGoods },
};
</script>
