<template>
  <v-container fluid>
    <TableListEmployees></TableListEmployees>
  </v-container>
</template>

<script>
import TableListEmployees from '../../components/TableListEmployees';
export default {
  name: 'ListEmployees',
  components: { TableListEmployees },
};
</script>

<style></style>
