<template>
  <v-container fluid>
    <TableMaterialType></TableMaterialType>
  </v-container>
</template>

<script>
import TableMaterialType from '../../components/TableMaterialType';
export default {
  name: 'MaterialType',
  components: { TableMaterialType },
};
</script>

<style></style>
