<template>
  <v-container fluid>
    <TableOrderRequest></TableOrderRequest>
  </v-container>
</template>

<script>
import TableOrderRequest from '../../components/admin.request/TableOrderRequest';
export default {
  name: 'ProductCate',
  components: { TableOrderRequest },
};
</script>

<style></style>
