<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color || null"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <div class="display-1 mb-8">
      บันทึกรับคืนวัตถุดิบ
    </div>
    <v-row align="center" justify="center">
      <v-col sm="12" md="8" lg="6">
        <v-card>
          <v-card-text>
            <qrcode-stream @decode="onDecode" @init="onInit">
              <div class="text-center" v-if="isValid.load">
                <v-progress-circular
                  size="50"
                  indeterminate
                  color="amber"
                ></v-progress-circular>
              </div>
            </qrcode-stream>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row v-if="isValid.new" align="center" justify="center">
      <v-col sm="12" md="8" lg="8">
        <v-card>
          <v-card-text>
            <v-form v-model="isValid.data">
              <v-text-field
                class="mx-8"
                v-model="check.matId"
                label="รหัสวัตถุดิบ"
                prepend-icon="mdi-city-variant"
                color="amber darken-1"
                dense
                outlined
                readonly
              ></v-text-field>
              <v-text-field
                class="mx-8"
                v-model="check.name"
                label="ชื่อวัตถุดิบ"
                prepend-icon="mdi-alphabetical-variant"
                color="amber darken-1"
                dense
                outlined
                readonly
              ></v-text-field>
              <v-text-field
                class="mx-8"
                v-model="check.sup"
                label="ชื่อผู้ผลิต"
                prepend-icon="mdi-account"
                color="amber darken-1"
                dense
                outlined
                readonly
              ></v-text-field>
              <v-text-field
                class="mx-8"
                v-model="check.store"
                label="ที่เก็บวัตถุดิบ"
                prepend-icon="mdi-dolly"
                color="amber darken-1"
                dense
                outlined
                readonly
              ></v-text-field>
              <v-text-field
                class="mx-8"
                v-model.number="check.matNum"
                :rules="numberRules"
                label="จำนวนวัตถุดิบปัจจุบัน"
                prepend-icon="mdi-counter"
                color="amber darken-1"
                type="number"
                dense
                outlined
                readonly
              ></v-text-field>
              <v-text-field
                class="mx-8"
                v-model.number="check.num"
                :rules="numberRules"
                label="จำนวนวัตถุดิบที่รับคืน"
                prepend-icon="mdi-counter"
                color="amber darken-1"
                type="number"
                dense
                outlined
                required
              ></v-text-field>
              <v-menu
                ref="menu"
                :close-on-content-click="false"
                transition="scale-transition"
                offset-y
                min-width="290px"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field
                    class="mx-8"
                    :value="dateFormatted"
                    :rules="nameRules"
                    label="วันที่รับคืนวัตถุดิบ"
                    prepend-icon="mdi-calendar"
                    color="amber darken-1"
                    dense
                    outlined
                    required
                    readonly
                    clearable
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="check.date"
                  :max="dateMax"
                  no-title
                  scrollable
                ></v-date-picker>
              </v-menu>
            </v-form>
            <div class="text-center">
              <v-btn
                color="amber darken-1"
                :disabled="!isValid.data"
                @click="dialog.warn = true"
              >
                บันทึก
              </v-btn>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-dialog v-model="dialog.warn" max-width="400">
      <v-card>
        <v-card-title class="headline">
          แจ้งเตือน
        </v-card-title>
        <v-card-text>
          <div class="subtitle-1">
            คุณต้องการยืนยันการรับคืนหรือไม่
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog.warn = false">
            ยกเลิก
          </v-btn>
          <v-btn color="green darken-1" text @click="addCheck">
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import { QrcodeStream } from 'vue-qrcode-reader';
import moment from 'moment';
import axios from 'axios';
import { CONFIG } from '../../configs';
export default {
  name: 'NewCheck',
  components: { QrcodeStream },
  beforeDestroy() {
    clearInterval(this.timeout);
  },
  data() {
    return {
      snackbar: {
        visible: false,
        color: '',
        text: '',
      },
      isValid: {
        qr: false,
        new: false,
        data: false,
        load: false,
        warn: false,
      },
      dialog: {
        warn: false,
      },
      check: {
        matId: '',
        name: '',
        sup: '',
        store: '',
        num: '',
        date: moment().format('YYYY-MM-DD'),
        userId: this.$store.getters.currentId,
        matNum: '',
        compId: this.$store.getters.currentCompa,
      },
      add: {
        name: '',
        date: moment().format('YYYY-MM-DD'),
        adminId: this.$store.getters.currentAdminId,
        typeId: 'NT0001',
      },
      nameRules: [(v) => !!v || 'กรุณากรอกข้อมูล'],
      numberRules: [
        (v) => (v > 0 && !!Number.isInteger(v)) || 'กรุณากรอกจำนวน',
      ],
      timeout: null,
    };
  },
  computed: {
    dateFormatted() {
      return this.check.date
        ? moment(this.check.date).format('DD/MM/YYYY')
        : '';
    },
    dateMax() {
      return moment().format('YYYY-MM-DD');
    },
  },
  methods: {
    onDecode(result) {
      this.check.matId = result;
      this.getInfoMat();
      this.getInfoSup();
      this.getInfoStore();
      this.isValid.new = true;
    },
    async onInit(promise) {
      this.isValid.load = true;
      try {
        await promise;
      } catch (error) {
        this.snackbar.text = error;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      } finally {
        this.isValid.load = false;
      }
    },
    async getInfoMat() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/materials/info`,
          this.check
        );
        console.log('Mat:', res.data);
        if (!res.data.statusCode) {
          if (res.data) {
            this.check.name = res.data[0].Mat_Name;
            this.check.matNum = res.data[0].Mat_Num;
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async getInfoSup() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/suppliers/info`,
          this.check
        );
        console.log('Sup:', res.data);
        if (!res.data.statusCode) {
          if (res.data) {
            this.check.sup = res.data[0].Sup_Name;
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
      }
    },
    async getInfoStore() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/storages/info`,
          this.check
        );
        console.log('Store:', res.data);
        if (!res.data.statusCode) {
          if (res.data) {
            this.check.store = res.data[0].Store_Name;
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
      }
    },
    async addCheck() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/checks/return/add`,
          this.check
        );
        if (!res.data.statusCode && res.data === 'OK') {
          this.dialog.warn = false;
          this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
          this.snackbar.color = 'success';
          this.snackbar.visible = true;
          this.timeout = setInterval(() => {
            window.location.reload();
          }, 1000);
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
  },
};
</script>
