<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color || null"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <div class="display-1 mb-8">
      รายการเบิกวัตถุดิบ
    </div>
    <v-btn color="amber darken-1" text @click="getOrderList">
      <v-icon>mdi-refresh</v-icon>
    </v-btn>
    <v-btn color="green darken-1" text @click="dialog.add = true">
      เพิ่มรายการเบิก
    </v-btn>
    <v-data-table
      item-key="Order_Id"
      :headers="headers"
      :items="table"
      :items-per-page="5"
      class="elevation-1"
      @click:row="onSelectRow"
    >
      <template v-slot:[`item.Order_Status`]="{ item }">
        <span>{{
          (item.Order_Status == 0 && 'รออนุมัติ') ||
            (item.Order_Status == 1 && 'เบิกได้') ||
            (item.Order_Status == 2 && 'เบิกแล้ว') ||
            (item.Order_Status == 3 && 'ถูกปฏิเสธ')
        }}</span>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog.add" max-width="600">
      <v-card>
        <v-card-title class="headline">
          เพิ่มรายการเบิก
        </v-card-title>
        <v-card-text>
          <v-radio-group class="mx-6" v-model="fetch.radio" @change="reset" row>
            <template v-slot:label>
              <div>ค้นหาโดย</div>
            </template>
            <v-radio
              v-for="(n, i) in radioData"
              :key="i"
              :label="n"
              :value="i"
              color="amber darken-1"
            ></v-radio>
          </v-radio-group>
          <v-form v-model="isValid.add" ref="form">
            <div v-for="(n, i) in add.arr" :key="i">
              <div class="d-flex justify-end mr-6 mb-2">
                <v-btn
                  v-if="add.arr.length > 1"
                  color="red darken-1"
                  icon
                  outlined
                  @click="removeObj(i)"
                >
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
              </div>
              <v-autocomplete
                class="mx-6"
                v-show="!!!fetch.radio"
                prepend-icon="mdi-cube"
                v-model="add.arr[i].proId"
                :items="proData"
                item-text="Prod_Name"
                item-value="Prod_Id"
                label="เลือกสินค้า..."
                color="amber darken-1"
                dense
                outlined
              >
                <template v-slot:selection="data">
                  {{ data.item.Prod_Id }} - {{ data.item.Prod_Name }}
                </template>
                <template v-slot:item="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template v-else>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="data.item.Prod_Name"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-html="data.item.Prod_Type_Name"
                      ></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
              <v-autocomplete
                class="mx-6"
                v-show="!!fetch.radio"
                prepend-icon="mdi-cube"
                v-model="add.arr[i].proId"
                :items="proData"
                item-text="Prod_Type_Name"
                item-value="Prod_Id"
                label="เลือกสินค้า..."
                color="amber darken-1"
                dense
                outlined
              >
                <template v-slot:selection="data">
                  {{ data.item.Prod_Id }} - {{ data.item.Prod_Name }}
                </template>
                <template v-slot:item="data">
                  <template v-if="typeof data.item !== 'object'">
                    <v-list-item-content
                      v-text="data.item"
                    ></v-list-item-content>
                  </template>
                  <template v-else>
                    <v-list-item-content>
                      <v-list-item-title
                        v-html="data.item.Prod_Name"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-html="data.item.Prod_Type_Name"
                      ></v-list-item-subtitle>
                    </v-list-item-content>
                  </template>
                </template>
              </v-autocomplete>
              <v-text-field
                class="mx-6"
                v-model.number="add.arr[i].num"
                :rules="numberRules"
                label="จำนวนสินค้า"
                prepend-icon="mdi-counter"
                color="amber darken-1"
                type="number"
                dense
                outlined
              ></v-text-field>
            </div>
          </v-form>
          <div class="text-center">
            <v-btn color="blue darken-1" icon outlined @click="addObj">
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </div>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialog.add = false">
            ยกเลิก
          </v-btn>
          <v-btn
            color="amber darken-1"
            text
            :disabled="!isValid.add || !add.arr || !add.arr.length"
            @click="addOrder"
          >
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import { CONFIG } from '../../configs';
export default {
  name: 'NewOrder',
  created() {
    this.getOrderList();
    this.getProList();
  },
  beforeDestroy() {
    clearInterval(this.timeout);
  },
  data() {
    return {
      dialog: {
        add: false,
      },
      snackbar: {
        visible: false,
        color: '',
        text: '',
      },
      isValid: {
        add: false,
      },
      fetch: {
        compId: this.$store.getters.currentCompany,
        userId: this.$store.getters.currentId,
        radio: 0,
      },
      add: {
        arr: [{ proId: '', num: '' }],
        proId: '',
        proName: '',
        num: '',
        date: moment().format('YYYY-MM-DD'),
        userId: this.$store.getters.currentId,
        name: '',
        adminId: this.$store.getters.currentAdminId,
        compId: this.$store.getters.currentCompa,
        typeId: 'NT0000',
      },
      role: this.$store.getters.currentUser,
      headers: [
        {
          text: 'รหัสเบิกวัตถุดิบ',
          align: 'start',
          sortable: false,
          value: 'Order_Id',
        },
        { text: 'วันที่เบิก', value: 'Order_Date' },
        //{ text: 'ชื่อสินค้า', value: 'Prod_Name' },
        //{ text: 'จำนวนที่เบิก', value: 'Order_Num' },
        { text: 'สถานะ', value: 'Order_Status' },
      ],
      table: [],
      proData: [],
      radioData: ['ชื่อสินค้า', 'ประเภทสินค้า'],
      selected: [],
      row: {},
      nameRules: [(v) => !!v || 'กรุณากรอกข้อมูล'],
      numberRules: [
        (v) => (v > 0 && !!Number.isInteger(v)) || 'กรุณากรอกจำนวน',
      ],
      timeout: null,
    };
  },
  methods: {
    async getOrderList() {
      try {
        let res = await axios.post(`${CONFIG.BASEAPI}/orders`, this.fetch);
        console.log(res.data);
        if (!res.data.statusCode) {
          res.data.forEach((i) => {
            i.Order_Date = moment(i.Order_Date).format('DD/MM/YYYY');
          });
          this.table = res.data;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async getProList() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/products/lists/comp`,
          this.fetch
        );
        console.log(res.data);
        if (!res.data.statusCode) {
          this.proData = res.data;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async addOrder() {
      try {
        let res = await axios.post(`${CONFIG.BASEAPI}/orders/add`, this.add);
        if (!res.data.statusCode && res.data === 'OK') {
          this.addNoti();
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async addNoti() {
      try {
        console.log('pass');
        for (let i = 0; i < this.proData.length; i++) {
          if (this.proData[i]['Prod_Id'] === this.add.proId) {
            this.add.proName = this.proData[i]['Prod_Name'];
            console.log(this.add.proName);
          }
        }
        this.add.name = `จำนวน ${this.add.arr.length} รายการ`;
        let res = await axios.post(
          `${CONFIG.BASEAPI}/notifications/adds/ad`,
          this.add
        );
        if (!res.data.statusCode) {
          if (res.data === 'OK') {
            this.dialog.add = false;
            this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
            this.snackbar.color = 'success';
            this.snackbar.visible = true;
            this.timeout = setInterval(() => {
              window.location.reload();
            }, 1000);
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    onSelectRow(rec) {
      this.row = rec;
      if (this.row.Order_Status === 0) {
        this.snackbar.text = 'กรุณารอการอนุมัติ';
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      } else if (this.row.Order_Status === 1) {
        this.$store.commit('isOrderId', this.row.Order_Id);
        this.$router.push({ path: '/us/order/list' });
      } else if (this.row.Order_Status === 3) {
        this.snackbar.text = 'ขออภัย รายการเบิกนี้ถูกปฏิเสธ';
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      } else {
        this.$store.commit('isOrderId', this.row.Order_Id);
        this.$router.push({ path: '/us/order/report' });
      }
    },
    reset() {
      this.$refs.form.reset();
    },
    addObj() {
      this.add.arr.push({ proId: '', num: '' });
    },
    removeObj(i) {
      this.add.arr.splice(i, 1);
    },
  },
};
</script>

<style></style>
