<template>
  <v-container>
    <v-snackbar
      v-model="snackbar.visible"
      timeout="4000"
      :color="snackbar.color || null"
      top
      right
    >
      {{ snackbar.text }}
    </v-snackbar>
    <div class="display-1 mb-8">
      รายการคำขอเบิกวัตถุดิบ
    </div>
    <v-btn color="amber darken-1" text @click="getOrderList">
      <v-icon>mdi-refresh</v-icon>
    </v-btn>
    <v-data-table
      item-key="Order_Id"
      :headers="headers"
      :items="table"
      :items-per-page="5"
      class="elevation-1"
      @click:row="onSelectRow"
    >
      <template v-slot:[`item.User_Name`]="{ item }">
        <span>{{ item.User_Name }} {{ item.User_Surname }}</span>
      </template>
      <template v-slot:[`item.Order_Status`]="{ item }">
        <span>{{
          (item.Order_Status == 0 && 'รออนุมัติ') ||
            (item.Order_Status == 1 && 'เบิกได้') ||
            (item.Order_Status == 2 && 'เบิกแล้ว')
        }}</span>
      </template>
    </v-data-table>
    <v-dialog v-model="dialog.desc" max-width="600">
      <v-card>
        <v-card-title class="headline">
          รายละเอียดคำขอเบิก
        </v-card-title>
        <v-card-text>
          <div class="subtitle-1">รหัสเบิกวัตถุดิบ: {{ row.Order_Id }}</div>
          <div class="subtitle-1">
            ผู้เบิกวัตถุดิบ: {{ row.User_Name }} {{ row.User_Surname }}
          </div>
          <v-data-table
            :headers="order.headers"
            :items="order.data"
            :items-per-page="5"
            class="elevation-1 mt-4"
            disable-sort
            disable-filtering
          >
          </v-data-table>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="red darken-1"
            outlined
            @click="
              order.status = 4;
              onFinish();
            "
          >
            ปฏิเสธ
          </v-btn>
          <v-btn
            color="green darken-1"
            outlined
            @click="
              order.status = 1;
              onFinish();
            "
          >
            ยอมรับ
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import moment from 'moment';
import axios from 'axios';
import { CONFIG } from '../../configs';
export default {
  name: 'TableOrderRequest',
  created() {
    this.getOrderList();
  },
  beforeDestroy() {
    clearInterval(this.timeout);
  },
  data() {
    return {
      dialog: {
        desc: false,
        add: false,
        remove: false,
        edit: false,
      },
      snackbar: {
        visible: false,
        color: '',
        text: '',
      },
      fetch: {
        adminId: this.$store.getters.currentId,
      },
      order: {
        orderId: '',
        status: null,
        data: [],
        headers: [
          { text: 'รหัสวัตถุดิบ', value: 'Mat_Id' },
          { text: 'ชื่อวัตถุดิบ', value: 'Mat_Name' },
          { text: 'ที่เก็บวัตถุดิบ', value: 'Store_Name' },
          { text: 'จำนวนที่เบิก', value: 'Total_Num' },
        ],
      },
      role: this.$store.getters.currentUser,
      headers: [
        { text: 'รหัสเบิกวัตถุดิบ', value: 'Order_Id' },
        { text: 'ผู้เบิกวัตถุดิบ', value: 'User_Name' },
        { text: 'วันที่คำขอเบิกวัตถุดิบ', value: 'Order_Date' },
        { text: 'สถานะ', value: 'Order_Status' },
      ],
      row: {},
      table: [],
      selected: [],
      nameRules: [(v) => !!v || 'กรุณากรอกข้อมูล'],
      numberRules: [(v) => v > 0 || 'กรุณากรอกจำนวน'],
      timeout: null,
    };
  },
  methods: {
    async getOrderList() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/orders/admin`,
          this.fetch
        );
        console.log(res.data);
        if (!res.data.statusCode) {
          res.data.forEach((i) => {
            i.Order_Date = moment(i.Order_Date).format('DD/MM/YYYY');
          });
          this.table = res.data;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async getGoodsList() {
      try {
        let res = await axios.post(`${CONFIG.BASEAPI}/orders/list`, this.order);
        console.log(res.data);
        if (!res.data.statusCode) {
          this.order.data = res.data;
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    async onFinish() {
      try {
        let res = await axios.post(
          `${CONFIG.BASEAPI}/orders/updates/status`,
          this.order
        );
        if (!res.data.statusCode) {
          if (res.data === 'OK') {
            this.dialog.desc = false;
            this.snackbar.text = 'ระบบได้บันทึกข้อมูลของคุณแล้ว';
            this.snackbar.color = 'success';
            this.snackbar.visible = true;
            this.timeout = setInterval(() => {
              window.location.reload();
            }, 1000);
          }
        }
      } catch (err) {
        let { message } = err.response.data;
        this.snackbar.text = message;
        this.snackbar.color = 'error';
        this.snackbar.visible = true;
      }
    },
    onSelectRow(rec) {
      this.row = rec;
      this.order.orderId = this.row.Order_Id;
      this.getGoodsList();
      this.dialog.desc = true;
    },
  },
};
</script>

<style></style>
